openapi: 3.2.0
info:
  contact:
    email: support@getanyapi.com
  description: 'Any API, one wallet, USD, no subscriptions. Each API is a single discovered operation: send the normalized input, get a normalized result. Prices and payment outcomes are reported in USD; each operation documents the settlement policy for its enabled payment rails.'
  title: Company Search API
  version: 1.0.0
  x-guidance: 'Use each operation''s published method and path with its normalized JSON input (see the operation requestBody). Before setting a client or tool timeout, GET /v1/apis/{sku} and inspect its trailing-30-day latency p50/p95/p99 and sample; p99 is an observation, not a maximum. To pay: send your AnyAPI key (Authorization: Bearer, billed from your USD wallet). For operations that advertise an inline rail, pay per call inline with x402 - call with no key, receive HTTP 402 with a PAYMENT-REQUIRED header, then retry with the PAYMENT-SIGNATURE header (base, no account needed); or pay per call inline with MPP (Machine Payments Protocol) - call with no key, receive HTTP 402 with a WWW-Authenticate: Payment challenge, then retry with the Authorization: Payment header (tempo, no account needed). x402 settles after execution; execution failure is reported as released; mpp settles before execution; execution failure is reported as charged_undelivered.'
servers:
- url: https://api.getanyapi.com
security:
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: Company Search
  x-group: Company_search
paths:
  /v1/run/company_search.ai_ark:
    post:
      description: 'Search companies by name, lookalike domains, account filters, and saved-list filters.


        **Price:** billed per result - \$2.40 per 1,000 results, capped at \$240.00 per 1,000 requests.


        **Routing:** one lane serves this API today, so a failed attempt has nowhere to fail over to. Payment outcome follows the selected rail''s settlement policy.


        **Catalog:** Company Search - AI Ark pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every Company_search endpoint.'
      operationId: company_search_ai_ark
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              name: OpenAI
              page: 0
              size: 1
            schema:
              additionalProperties: false
              example:
                name: OpenAI
                page: 0
                size: 1
              properties:
                account:
                  additionalProperties: true
                  description: AI Ark account filter expression. Nested generic any/all filter objects are accepted as documented by the source and are not further constrained.
                  type: object
                lists:
                  additionalProperties: true
                  description: AI Ark saved-list filter expression.
                  type: object
                lookalikeDomains:
                  description: Domains whose company characteristics should guide the search.
                  items:
                    minLength: 1
                    type: string
                  maxItems: 5
                  type: array
                name:
                  description: Company-name search text.
                  minLength: 1
                  type: string
                page:
                  default: 0
                  description: Zero-based result page.
                  minimum: 0
                  type: integer
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
                size:
                  default: 10
                  description: Maximum companies to return on this page.
                  maximum: 100
                  minimum: 1
                  type: integer
              title: Company Search - AI Ark input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          description: Normalized companies and page metadata, or null when no companies matched.
                          oneOf:
                          - type: 'null'
                          - additionalProperties: false
                            properties:
                              companies:
                                description: Companies returned on this page.
                                items:
                                  properties:
                                    address:
                                      description: Headquarters address as published by the source.
                                      type: string
                                    city:
                                      description: Headquarters city.
                                      type: string
                                    companyId:
                                      description: The source's own record identifier for this company, exposed so you can trace a result back to the record it came from.
                                      type: string
                                    continent:
                                      description: Headquarters continent.
                                      type: string
                                    country:
                                      description: Headquarters country.
                                      type: string
                                    crunchbaseUrl:
                                      description: Company Crunchbase URL.
                                      format: uri
                                      type: string
                                    description:
                                      description: Company description when available.
                                      type: string
                                    diversityInvestmentCount:
                                      description: Number of diversity-flagged investments the source records for the company.
                                      minimum: 0
                                      type: integer
                                    diversityInvestments:
                                      description: Investments the source has flagged with a diversity spotlight.
                                      items:
                                        properties:
                                          announcedUtc:
                                            description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                            type: integer
                                          imageKey:
                                            description: The source's internal image key for the counterparty. It is a bare key, not a URL.
                                            type: string
                                          name:
                                            description: Counterparty organization name.
                                            type: string
                                          recordId:
                                            description: The source's own slug for the counterparty organization.
                                            type: string
                                          roundImageKey:
                                            description: The source's internal image key for the round. It is a bare key, not a URL.
                                            type: string
                                          roundName:
                                            description: Funding round name as published by the source.
                                            type: string
                                          roundRaisedAmount:
                                            description: Amount raised in this round in USD.
                                            minimum: 0
                                            type: integer
                                          roundRecordId:
                                            description: The source's own slug for the funding round.
                                            type: string
                                          roundType:
                                            description: Funding round type, for example GRANT.
                                            type: string
                                          spotlights:
                                            description: Diversity spotlights the source attached to this investment.
                                            items:
                                              properties:
                                                name:
                                                  description: Human-readable spotlight label.
                                                  type: string
                                                recordId:
                                                  description: The source's own slug for the spotlight, for example women-founded.
                                                  type: string
                                              type: object
                                            type: array
                                        type: object
                                      type: array
                                    domain:
                                      description: Company website domain, or null when the upstream holds none for this company.
                                      minLength: 1
                                      type:
                                      - string
                                      - 'null'
                                    domainLtd:
                                      description: The source's second copy of the company domain. Usually identical to domain; it can differ when the source resolves a redirect or a country domain differently, so compare the two rather than assuming they match.
                                      type: string
                                    email:
                                      description: Public company contact email.
                                      format: email
                                      type: string
                                    employeeCount:
                                      description: Estimated total employees.
                                      minimum: 0
                                      type: integer
                                    employeeRangeMax:
                                      description: Upper bound of the published employee range.
                                      minimum: 0
                                      type: integer
                                    employeeRangeMin:
                                      description: Lower bound of the published employee range.
                                      minimum: 0
                                      type: integer
                                    facebookUrl:
                                      description: Canonical company Facebook URL.
                                      format: uri
                                      type: string
                                    foundedYear:
                                      description: Year the company was founded.
                                      type: integer
                                    fundedUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                      type: integer
                                    fundingLastAmount:
                                      description: Amount raised in the most recent round in USD.
                                      minimum: 0
                                      type: integer
                                    fundingLastType:
                                      description: Type of the most recent funding round.
                                      type: string
                                    fundingRoundCount:
                                      description: Number of funding rounds raised.
                                      minimum: 0
                                      type: integer
                                    fundingRounds:
                                      description: Funding rounds the company has raised.
                                      items:
                                        properties:
                                          announcedUtc:
                                            description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                            type: integer
                                          investors:
                                            description: Investors named in this round.
                                            items:
                                              type: string
                                            type: array
                                          raisedAmount:
                                            description: Amount raised in this round in USD.
                                            minimum: 0
                                            type: integer
                                          type:
                                            description: Funding round type.
                                            type: string
                                        type: object
                                      type: array
                                    fundingTotalAmount:
                                      description: Total capital raised across all rounds in USD.
                                      minimum: 0
                                      type: integer
                                    hashtags:
                                      description: Hashtags the company publishes under.
                                      items:
                                        type: string
                                      type: array
                                    image:
                                      description: 'Company logo URL. This is a SIGNED, EXPIRING image-proxy URL - the path carries an exp: epoch roughly five days out - so fetch and store the image promptly rather than storing this URL.'
                                      format: uri
                                      type: string
                                    industries:
                                      description: Additional company industries.
                                      items:
                                        type: string
                                      type: array
                                    industry:
                                      description: Primary company industry.
                                      type: string
                                    investorCount:
                                      description: Number of distinct investors.
                                      minimum: 0
                                      type: integer
                                    keywords:
                                      description: Keywords describing the company.
                                      items:
                                        type: string
                                      type: array
                                    languages:
                                      description: Languages the company publishes in.
                                      items:
                                        type: string
                                      type: array
                                    latitude:
                                      description: Headquarters latitude in decimal degrees.
                                      type: number
                                    legalName:
                                      description: Registered company name when available.
                                      type: string
                                    linkedinUrl:
                                      description: Canonical company LinkedIn URL.
                                      format: uri
                                      type: string
                                    locations:
                                      description: Every office location the source lists for the company.
                                      items:
                                        properties:
                                          address:
                                            description: Location address as published by the source.
                                            type: string
                                          city:
                                            description: Location city.
                                            type: string
                                          continent:
                                            description: Location continent.
                                            type: string
                                          country:
                                            description: Location country.
                                            type: string
                                          latitude:
                                            description: Location latitude in decimal degrees.
                                            type: number
                                          longitude:
                                            description: Location longitude in decimal degrees.
                                            type: number
                                          postalCode:
                                            description: Location postal code.
                                            type: string
                                          state:
                                            description: Location state or region.
                                            type: string
                                        type: object
                                      type: array
                                    longitude:
                                      description: Headquarters longitude in decimal degrees.
                                      type: number
                                    naics:
                                      description: NAICS codes for the company.
                                      items:
                                        type: string
                                      type: array
                                    name:
                                      description: Company name.
                                      minLength: 1
                                      type: string
                                    overview:
                                      description: Longer company overview written by the source. Overlaps description but is a separately maintained blurb and is often longer or more current.
                                      type: string
                                    phone:
                                      description: Sanitized public company phone number.
                                      type: string
                                    phoneRaw:
                                      description: The same phone number in the source's unsanitized spelling, keeping spaces, dashes and brackets. Use phone for dialing and this for display fidelity.
                                      type: string
                                    postalCode:
                                      description: Headquarters postal code.
                                      type: string
                                    revenueMax:
                                      description: Upper bound of estimated annual revenue in USD.
                                      minimum: 0
                                      type: integer
                                    revenueMin:
                                      description: Lower bound of estimated annual revenue in USD.
                                      minimum: 0
                                      type: integer
                                    revenueRange:
                                      description: The same annual revenue estimate as a single hyphenated range string, for example 500000000-1000000000. It duplicates revenueMin and revenueMax; use those for arithmetic.
                                      type: string
                                    seoDescription:
                                      description: The meta description the source scraped from the company website. It is site copy, not the source's own writing, so it may be in another language or out of date.
                                      type: string
                                    sic:
                                      description: SIC codes for the company.
                                      items:
                                        type: string
                                      type: array
                                    state:
                                      description: Headquarters state or region.
                                      type: string
                                    technologies:
                                      description: Technologies detected on the company's web presence.
                                      items:
                                        properties:
                                          category:
                                            description: Technology category.
                                            type: string
                                          name:
                                            description: Technology name.
                                            type: string
                                        type: object
                                      type: array
                                    twitterUrl:
                                      description: Canonical company X (Twitter) URL.
                                      format: uri
                                      type: string
                                    type:
                                      description: Company organization type.
                                      type: string
                                    updatedUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                      type: integer
                                    websiteUrl:
                                      description: Canonical company website URL.
                                      format: uri
                                      type: string
                                  required:
                                  - name
                                  - domain
                                  type: object
                                type: array
                              page:
                                description: Zero-based page number returned by the source.
                                minimum: 0
                                type: integer
                              size:
                                description: Configured page size.
                                minimum: 0
                                type: integer
                              total:
                                description: Total matching companies.
                                minimum: 0
                                type: integer
                              totalPages:
                                description: Total result pages.
                                minimum: 0
                                type: integer
                            required:
                            - companies
                            - page
                            - size
                            - total
                            - totalPages
                            type: object
                        found:
                          description: Whether the search returned at least one company.
                          type: boolean
                      required:
                      - found
                      - data
                      title: Company Search - AI Ark output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: Company Search - AI Ark
      tags:
      - Company Search
      x-mint:
        href: /api-reference/company-search/ai-ark
      x-payment-info:
        price:
          currency: USD
          max: '0.240000'
          min: '0.000000'
          mode: dynamic
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            currency: USD
            max: '0.240000'
            min: '0.001000'
            minimumUsd: '0.001000'
            mode: dynamic
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            currency: USD
            max: '0.240000'
            min: '0.000000'
            minimumUsd: null
            mode: dynamic
            quoteBasis: funded_ceiling
          protocol:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
          rail: mpp
          settlement:
            onExecutionFailure: charged_undelivered
            onVerificationError: indeterminate
            timing: before_execution
  /v1/run/company_search.crustdata_v3:
    post:
      description: 'Search companies by structured filters with cursor pagination.


        **Price:** billed per result - \$48.00 per 1,000 results, capped at \$12,000.00 per 1,000 requests.


        **Routing:** one lane serves this API today, so a failed attempt has nowhere to fail over to. Payment outcome follows the selected rail''s settlement policy.


        **Catalog:** Company Search - Crustdata v3 pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every Company_search endpoint.'
      operationId: company_search_crustdata_v3
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              filters:
              - filter_type: company_website_domain
                type: (.)
                value: posthog.com
              limit: 1
            schema:
              additionalProperties: false
              example:
                filters:
                - filter_type: company_website_domain
                  type: (.)
                  value: posthog.com
                limit: 1
              properties:
                cursor:
                  minLength: 1
                  type: string
                fields:
                  oneOf:
                  - minLength: 1
                    type: string
                  - items:
                      minLength: 1
                      type: string
                    minItems: 1
                    type: array
                filters:
                  description: 'Crustdata company-database filter expression. A leaf condition is {"filter_type": <column>, "type": <operator>, "value": <match>}; a group is {"op": "and"|"or", "conditions": [<leaf>, ...]}. Pass a single leaf, an array of leaves, or a group. See the example for a domain lookup.'
                  oneOf:
                  - type: object
                  - items:
                      type: object
                    minItems: 1
                    type: array
                limit:
                  default: 10
                  description: Maximum companies to return on this page. Every company returned is billed; the page is capped at 250 to bound the cost of a single call.
                  maximum: 250
                  minimum: 1
                  type: integer
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
                sorts:
                  items:
                    type: object
                  type: array
              required:
              - filters
              title: Company Search - Crustdata v3 input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          oneOf:
                          - type: 'null'
                          - additionalProperties: false
                            properties:
                              companies:
                                description: Matching companies.
                                items:
                                  properties:
                                    acquisitionStatus:
                                      description: Acquisition status, when the company has been acquired.
                                      type: string
                                    companyId:
                                      description: Crustdata identifier for the company, accepted by the Company Enrichment endpoint.
                                      type: string
                                    companyType:
                                      description: Company type, e.g. Privately Held or Public Company.
                                      type: string
                                    competitorIds:
                                      description: Crustdata identifiers for the companies Crustdata lists as competitors. These are the same identifiers companyId reports, returned here as numbers, and line up positionally with competitorWebsites.
                                      items:
                                        type: integer
                                      type: array
                                    competitorWebsites:
                                      description: Websites of companies Crustdata considers competitors.
                                      items:
                                        type: string
                                      type: array
                                    contactEmail:
                                      description: Publicly listed contact email address.
                                      type: string
                                    crunchbaseCategories:
                                      description: Crunchbase category tags.
                                      items:
                                        type: string
                                      type: array
                                    crunchbaseUrl:
                                      description: Crunchbase profile URL.
                                      format: uri
                                      type: string
                                    crunchbaseUuid:
                                      description: Crunchbase organization UUID.
                                      type: string
                                    description:
                                      description: Company description from its LinkedIn page.
                                      type: string
                                    domain:
                                      description: Primary website domain, or null when the upstream holds none for this company.
                                      type:
                                      - string
                                      - 'null'
                                    domains:
                                      description: All domains associated with the company.
                                      items:
                                        type: string
                                      type: array
                                    employeeCount:
                                      description: Latest observed employee count.
                                      type: integer
                                    employeeGrowth:
                                      description: Headcount change over trailing windows, absolute and percent.
                                      properties:
                                        absolute12m:
                                          description: Net change over the last twelve months.
                                          type: integer
                                        absolute1m:
                                          description: Net change over the last month.
                                          type: integer
                                        absolute3m:
                                          description: Net change over the last three months.
                                          type: integer
                                        absolute6m:
                                          description: Net change over the last six months.
                                          type: integer
                                        percent12m:
                                          description: Percent change over the last twelve months.
                                          type: number
                                        percent1m:
                                          description: Percent change over the last month.
                                          type: number
                                        percent3m:
                                          description: Percent change over the last three months.
                                          type: number
                                        percent6m:
                                          description: Percent change over the last six months.
                                          type: number
                                      type: object
                                    employeeRange:
                                      description: Employee count band, e.g. 51-200.
                                      type: string
                                    estimatedRevenueHigherUsd:
                                      description: Upper bound of estimated annual revenue in USD.
                                      type: integer
                                    estimatedRevenueLowerUsd:
                                      description: Lower bound of estimated annual revenue in USD.
                                      type: integer
                                    fiscalYearEnd:
                                      description: Fiscal year end.
                                      type: string
                                    followerCount:
                                      description: Latest LinkedIn follower count.
                                      type: integer
                                    followerGrowth:
                                      description: LinkedIn follower change over trailing windows, absolute and percent.
                                      properties:
                                        absolute12m:
                                          description: Net change over the last twelve months.
                                          type: integer
                                        absolute1m:
                                          description: Net change over the last month.
                                          type: integer
                                        absolute3m:
                                          description: Net change over the last three months.
                                          type: integer
                                        absolute6m:
                                          description: Net change over the last six months.
                                          type: integer
                                        percent12m:
                                          description: Percent change over the last twelve months.
                                          type: number
                                        percent1m:
                                          description: Percent change over the last month.
                                          type: number
                                        percent3m:
                                          description: Percent change over the last three months.
                                          type: number
                                        percent6m:
                                          description: Percent change over the last six months.
                                          type: number
                                      type: object
                                    foundedYear:
                                      description: Year the company was founded.
                                      type: integer
                                    growthCalculatedUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. When the growth metrics on this record were last calculated.
                                      type: integer
                                    headcountByRegion:
                                      additionalProperties:
                                        type: number
                                      description: Employee count per region, keyed by LinkedIn region name.
                                      type: object
                                    headcountByRole:
                                      additionalProperties:
                                        type: number
                                      description: Employee count per job function, keyed by LinkedIn function name.
                                      type: object
                                    headcountByRolePercent:
                                      additionalProperties:
                                        type: number
                                      description: Share of employees per job function as a percent, keyed by LinkedIn function name.
                                      type: object
                                    headcountBySkill:
                                      additionalProperties:
                                        type: number
                                      description: Employee count per listed skill, keyed by skill name.
                                      type: object
                                    headcountBySkillPercent:
                                      additionalProperties:
                                        type: number
                                      description: Share of employees per listed skill as a percent, keyed by skill name.
                                      type: object
                                    headquarters:
                                      description: Headquarters location.
                                      type: string
                                    hqCountry:
                                      description: Country of the headquarters.
                                      type: string
                                    hqLocationAddressComponents:
                                      description: The headquarters location split into address components (city, state, country). Restates headquarters in parts.
                                      items:
                                        type: string
                                      type: array
                                    hqStreetAddressAndCity:
                                      description: Headquarters street address and city. Crustdata returns the same string as headquarters for most companies.
                                      type: string
                                    image:
                                      description: Company logo URL.
                                      format: uri
                                      type: string
                                    indexedUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. When Crustdata last indexed the record for search, which is usually just after updatedUtc.
                                      type: integer
                                    industries:
                                      description: All LinkedIn industries listed for the company.
                                      items:
                                        type: string
                                      type: array
                                    industry:
                                      description: Primary LinkedIn industry.
                                      type: string
                                    investors:
                                      description: Investors named on the Crunchbase profile.
                                      items:
                                        type: string
                                      type: array
                                    isInvestor:
                                      description: True when the company itself invests in other companies.
                                      type: boolean
                                    largestHeadcountCountry:
                                      description: Country holding the largest share of employees.
                                      type: string
                                    lastFundingType:
                                      description: Type of the most recent funding round, e.g. series_e.
                                      type: string
                                    lastFundingUsd:
                                      description: Amount raised in the most recent funding round, in USD.
                                      type: integer
                                    lastFundingUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. Date of the most recent funding round.
                                      type: integer
                                    linkedinCategories:
                                      description: LinkedIn speciality tags listed by the company.
                                      items:
                                        type: string
                                      type: array
                                    linkedinCompanyId:
                                      description: LinkedIn's own numeric identifier for the company page.
                                      type: string
                                    linkedinProfileName:
                                      description: Company name as it appears on the LinkedIn page. Usually the same value as name; Crustdata returns both.
                                      type: string
                                    linkedinUrl:
                                      description: LinkedIn company page URL.
                                      format: uri
                                      type: string
                                    markets:
                                      description: Markets the company trades in, e.g. PRIVATE or NASDAQ.
                                      items:
                                        type: string
                                      type: array
                                    name:
                                      description: Company name.
                                      type: string
                                    officeAddresses:
                                      description: 'Office addresses exactly as Crustdata returns them. Untyped passthrough: the structure ships verbatim and is not validated, because it was empty for every company we captured.'
                                    phone:
                                      description: Publicly listed phone number.
                                      type: string
                                    roleGrowth6mPercent:
                                      additionalProperties:
                                        type: number
                                      description: Six-month percent headcount change per job function, keyed by LinkedIn function name.
                                      type: object
                                    roleGrowthYoyPercent:
                                      additionalProperties:
                                        type: number
                                      description: Year-over-year percent headcount change per job function, keyed by LinkedIn function name.
                                      type: object
                                    stockSymbols:
                                      description: Stock ticker symbols.
                                      items:
                                        type: string
                                      type: array
                                    totalFundingUsd:
                                      description: Total investment raised to date, in USD.
                                      type: integer
                                    tracxnInvestors:
                                      description: 'Investors sourced from Tracxn, exactly as Crustdata returns them. Untyped passthrough: the structure ships verbatim and is not validated, because it was empty for every company we captured.'
                                    twitterUrl:
                                      description: X (Twitter) profile URL.
                                      format: uri
                                      type: string
                                    updatedUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. When this company record was last refreshed.
                                      type: integer
                                    valuationLowerUsd:
                                      description: Lower bound of the reported valuation in USD.
                                      type: integer
                                    valuationUsd:
                                      description: Reported valuation in USD.
                                      type: integer
                                    website:
                                      description: Company website URL.
                                      format: uri
                                      type: string
                                  required:
                                  - name
                                  type: object
                                type: array
                              hasMore:
                                description: True when more companies exist beyond this page.
                                type: boolean
                              nextCursor:
                                description: Opaque continuation token; null when the walk is complete.
                                type:
                                - string
                                - 'null'
                              totalCount:
                                description: Total number of companies matching the filters.
                                minimum: 0
                                type: integer
                            required:
                            - companies
                            type: object
                        found:
                          description: False when the filters matched no companies.
                          type: boolean
                      required:
                      - found
                      - data
                      title: Company Search - Crustdata v3 output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: Company Search - Crustdata v3
      tags:
      - Company Search
      x-mint:
        href: /api-reference/company-search/crustdata-v3
      x-payment-info:
        price:
          currency: USD
          max: '12.000000'
          min: '0.000000'
          mode: dynamic
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            currency: USD
            max: '12.000000'
            min: '0.001000'
            minimumUsd: '0.001000'
            mode: dynamic
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            currency: USD
            max: '12.000000'
            min: '0.000000'
            minimumUsd: null
            mode: dynamic
            quoteBasis: funded_ceiling
          protocol:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
          rail: mpp
          settlement:
            onExecutionFailure: charged_undelivered
            onVerificationError: indeterminate
            timing: before_execution
  /v1/run/company_search.fullenrich:
    post:
      description: 'Build an account list from FullEnrich by name, domain, industry, specialty, ownership type, headcount, founding year and headquarters, with full firmographics and every office on each row. Billed per company returned.


        **Price:** billed per result - \$25.20 per 1,000 results, capped at \$2,520.00 per 1,000 requests.


        **Routing:** one lane serves this API today, so a failed attempt has nowhere to fail over to. Payment outcome follows the selected rail''s settlement policy.


        **Catalog:** Company Search - FullEnrich pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every Company_search endpoint.'
      operationId: company_search_fullenrich
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              domains:
              - exact_match: true
                value: stripe.com
              limit: 1
            schema:
              additionalProperties: false
              example:
                domains:
                - exact_match: true
                  value: stripe.com
                limit: 1
              minProperties: 1
              properties:
                companyIds:
                  description: 'Filter by FullEnrich company id. Each entry is an object taking a `value` string and an optional `exact_match` boolean, e.g. [{"value": "stripe.com", "exact_match": true}]. A bare string is rejected.'
                  items:
                    additionalProperties: true
                    properties:
                      exact_match:
                        description: Require an exact match rather than a fuzzy one.
                        type: boolean
                      value:
                        description: The value to match.
                        type: string
                    type: object
                  type: array
                cursor:
                  description: Cursor from a previous response's nextCursor. Works at any depth, including past the 10000 offset ceiling.
                  type: string
                domains:
                  description: 'Filter by company domain, e.g. stripe.com. Each entry is an object taking a `value` string and an optional `exact_match` boolean, e.g. [{"value": "stripe.com", "exact_match": true}]. A bare string is rejected.'
                  items:
                    additionalProperties: true
                    properties:
                      exact_match:
                        description: Require an exact match rather than a fuzzy one.
                        type: boolean
                      value:
                        description: The value to match.
                        type: string
                    type: object
                  type: array
                foundedYears:
                  description: 'Filter by founding year. Each entry is an object taking a `value` string and an optional `exact_match` boolean, e.g. [{"value": "stripe.com", "exact_match": true}]. A bare string is rejected.'
                  items:
                    additionalProperties: true
                    properties:
                      exact_match:
                        description: Require an exact match rather than a fuzzy one.
                        type: boolean
                      value:
                        description: The value to match.
                        type: string
                    type: object
                  type: array
                headcounts:
                  description: 'Filter by employee headcount band. Each entry is an object taking a `value` string and an optional `exact_match` boolean, e.g. [{"value": "stripe.com", "exact_match": true}]. A bare string is rejected.'
                  items:
                    additionalProperties: true
                    properties:
                      exact_match:
                        description: Require an exact match rather than a fuzzy one.
                        type: boolean
                      value:
                        description: The value to match.
                        type: string
                    type: object
                  type: array
                headquartersLocations:
                  description: 'Filter by headquarters city, region or country. Each entry is an object taking a `value` string and an optional `exact_match` boolean, e.g. [{"value": "stripe.com", "exact_match": true}]. A bare string is rejected.'
                  items:
                    additionalProperties: true
                    properties:
                      exact_match:
                        description: Require an exact match rather than a fuzzy one.
                        type: boolean
                      value:
                        description: The value to match.
                        type: string
                    type: object
                  type: array
                industries:
                  description: 'Filter by company industry, e.g. Software Development. Each entry is an object taking a `value` string and an optional `exact_match` boolean, e.g. [{"value": "stripe.com", "exact_match": true}]. A bare string is rejected.'
                  items:
                    additionalProperties: true
                    properties:
                      exact_match:
                        description: Require an exact match rather than a fuzzy one.
                        type: boolean
                      value:
                        description: The value to match.
                        type: string
                    type: object
                  type: array
                keywords:
                  description: 'Filter by words in the company description. Each entry is an object taking a `value` string and an optional `exact_match` boolean, e.g. [{"value": "stripe.com", "exact_match": true}]. A bare string is rejected.'
                  items:
                    additionalProperties: true
                    properties:
                      exact_match:
                        description: Require an exact match rather than a fuzzy one.
                        type: boolean
                      value:
                        description: The value to match.
                        type: string
                    type: object
                  type: array
                limit:
                  default: 10
                  description: Rows to return on this page, up to FullEnrich's maximum of 100. Every row returned is billed.
                  maximum: 100
                  minimum: 1
                  type: integer
                linkedinUrls:
                  description: 'Filter by company LinkedIn URL. Each entry is an object taking a `value` string and an optional `exact_match` boolean, e.g. [{"value": "stripe.com", "exact_match": true}]. A bare string is rejected.'
                  items:
                    additionalProperties: true
                    properties:
                      exact_match:
                        description: Require an exact match rather than a fuzzy one.
                        type: boolean
                      value:
                        description: The value to match.
                        type: string
                    type: object
                  type: array
                names:
                  description: 'Filter by company name. Each entry is an object taking a `value` string and an optional `exact_match` boolean, e.g. [{"value": "stripe.com", "exact_match": true}]. A bare string is rejected.'
                  items:
                    additionalProperties: true
                    properties:
                      exact_match:
                        description: Require an exact match rather than a fuzzy one.
                        type: boolean
                      value:
                        description: The value to match.
                        type: string
                    type: object
                  type: array
                offset:
                  default: 0
                  description: Rows to skip. FullEnrich caps offset at 10000; past that, page with cursor.
                  minimum: 0
                  type: integer
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
                specialties:
                  description: 'Filter by company specialty. Each entry is an object taking a `value` string and an optional `exact_match` boolean, e.g. [{"value": "stripe.com", "exact_match": true}]. A bare string is rejected.'
                  items:
                    additionalProperties: true
                    properties:
                      exact_match:
                        description: Require an exact match rather than a fuzzy one.
                        type: boolean
                      value:
                        description: The value to match.
                        type: string
                    type: object
                  type: array
                types:
                  description: 'Filter by ownership type, e.g. Public Company, Privately Held, Nonprofit. Each entry is an object taking a `value` string and an optional `exact_match` boolean, e.g. [{"value": "stripe.com", "exact_match": true}]. A bare string is rejected.'
                  items:
                    additionalProperties: true
                    properties:
                      exact_match:
                        description: Require an exact match rather than a fuzzy one.
                        type: boolean
                      value:
                        description: The value to match.
                        type: string
                    type: object
                  type: array
              title: Company Search - FullEnrich input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          description: One page of matching records plus FullEnrich's paging state.
                          oneOf:
                          - type: 'null'
                          - additionalProperties: false
                            properties:
                              companies:
                                description: Matching companies with FullEnrich's firmographic record.
                                items:
                                  properties:
                                    companyId:
                                      description: FullEnrich's own company identifier.
                                      type: string
                                    companyType:
                                      description: Ownership type, e.g. Public Company, Privately Held.
                                      type: string
                                    description:
                                      description: Company description.
                                      type: string
                                    domain:
                                      description: Primary company domain.
                                      type: string
                                    foundedYear:
                                      description: Year the company was founded. Zero when FullEnrich holds none.
                                      type: integer
                                    headcount:
                                      description: Employees FullEnrich currently counts.
                                      type: integer
                                    headcountRange:
                                      description: Employee headcount band, e.g. 5001-10000.
                                      type: string
                                    headquarters:
                                      description: Headquarters address.
                                      properties:
                                        city:
                                          description: City.
                                          type: string
                                        country:
                                          description: Country name.
                                          type: string
                                        countryCode:
                                          description: ISO 3166-1 alpha-2 country code.
                                          type: string
                                        line1:
                                          description: First address line.
                                          type: string
                                        line2:
                                          description: Second address line, carrying city, region, postal code and country.
                                          type: string
                                        region:
                                          description: State or region.
                                          type: string
                                      type: object
                                    image:
                                      description: Company logo URL.
                                      format: uri
                                      type: string
                                    industry:
                                      description: Main industry.
                                      type: string
                                    linkedinFollowers:
                                      description: LinkedIn follower count.
                                      type: integer
                                    linkedinHandle:
                                      description: Company LinkedIn vanity handle.
                                      type: string
                                    linkedinId:
                                      description: Company LinkedIn numeric id.
                                      type: string
                                    linkedinUrl:
                                      description: Company LinkedIn page URL.
                                      format: uri
                                      type: string
                                    name:
                                      description: Company name.
                                      type: string
                                    offices:
                                      description: Every other office FullEnrich holds for the company.
                                      items:
                                        properties:
                                          line1:
                                            description: First address line.
                                            type: string
                                          line2:
                                            description: Second address line, carrying city, region, postal code and country.
                                            type: string
                                        type: object
                                      type: array
                                    specialties:
                                      description: Specialties the company lists for itself.
                                      items:
                                        type: string
                                      type: array
                                    website:
                                      description: Company website URL.
                                      format: uri
                                      type: string
                                  required:
                                  - name
                                  type: object
                                type: array
                              nextCursor:
                                description: Cursor for the next page, or null when this lane is complete. Send it back as cursor.
                                type:
                                - string
                                - 'null'
                              offset:
                                description: Rows skipped before this page.
                                type: integer
                              total:
                                description: Rows matching the filters across all pages.
                                type: integer
                            required:
                            - companies
                            type: object
                        found:
                          description: False when nothing matched the filters.
                          type: boolean
                      required:
                      - found
                      - data
                      title: Company Search - FullEnrich output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
[...]
