openapi: 3.2.0
info:
  contact:
    email: support@getanyapi.com
  description: 'Any API, one wallet, USD, no subscriptions. Each API is a single discovered operation: send the normalized input, get a normalized result. Prices and payment outcomes are reported in USD; each operation documents the settlement policy for its enabled payment rails.'
  title: Any Apollo API
  version: 1.0.0
  x-guidance: 'Use each operation''s published method and path with its normalized JSON input (see the operation requestBody). Before setting a client or tool timeout, GET /v1/apis/{sku} and inspect its trailing-30-day latency p50/p95/p99 and sample; p99 is an observation, not a maximum. To pay: send your AnyAPI key (Authorization: Bearer, billed from your USD wallet). For operations that advertise an inline rail, pay per call inline with x402 - call with no key, receive HTTP 402 with a PAYMENT-REQUIRED header, then retry with the PAYMENT-SIGNATURE header (base, no account needed); or pay per call inline with MPP (Machine Payments Protocol) - call with no key, receive HTTP 402 with a WWW-Authenticate: Payment challenge, then retry with the Authorization: Payment header (tempo, no account needed). x402 settles after execution; execution failure is reported as released; mpp settles before execution; execution failure is reported as charged_undelivered.'
servers:
- url: https://api.getanyapi.com
security:
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: apollo
  x-group: Apollo
paths:
  /v1/run/apollo.organization:
    post:
      description: 'Get a complete organization profile by ID including company, industry, employee, revenue, funding, location, and technology data.


        **Price:** \$12.00 per 1,000 requests (flat per request - same cost regardless of results returned).


        **Routing:** one lane serves this API today, so a failed attempt has nowhere to fail over to. Payment outcome follows the selected rail''s settlement policy.


        **Catalog:** Apollo Organization pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every Apollo endpoint.'
      operationId: apollo_organization
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              organizationId: 5e66b6381e05b4008c8331b8
            schema:
              additionalProperties: false
              example:
                organizationId: 5e66b6381e05b4008c8331b8
              properties:
                organizationId:
                  description: Organization identifier returned by an Apollo organization endpoint.
                  minLength: 1
                  type: string
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
              required:
              - organizationId
              title: Apollo Organization input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          oneOf:
                          - type: 'null'
                          - properties:
                              annualRevenue:
                                description: Estimated annual revenue in USD.
                                minimum: 0
                                type: number
                              annualRevenueDisplay:
                                description: Human-readable estimated annual revenue.
                                type: string
                              city:
                                description: Headquarters city.
                                type: string
                              country:
                                description: Headquarters country.
                                type: string
                              description:
                                description: Organization summary.
                                type: string
                              domain:
                                description: Primary organization domain.
                                type: string
                              employeeCount:
                                description: Estimated employee count.
                                minimum: 0
                                type: integer
                              facebookUrl:
                                description: Canonical Facebook page URL.
                                format: uri
                                type: string
                              foundedYear:
                                description: Year the organization was founded.
                                type: integer
                              id:
                                description: Stable organization identifier.
                                type: string
                              image:
                                description: Organization logo URL.
                                format: uri
                                type: string
                              industries:
                                description: Industries associated with the organization.
                                items:
                                  type: string
                                type: array
                              industry:
                                description: Primary industry.
                                type: string
                              keywords:
                                description: Keywords associated with the organization.
                                items:
                                  type: string
                                type: array
                              latestFundingStage:
                                description: Latest disclosed funding stage.
                                type: string
                              latestFundingUtc:
                                description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                type: number
                              linkedinUrl:
                                description: Canonical LinkedIn company URL.
                                format: uri
                                type: string
                              naicsCodes:
                                description: NAICS industry codes.
                                items:
                                  type: string
                                type: array
                              name:
                                description: Organization name.
                                type: string
                              postalCode:
                                description: Headquarters postal code.
                                type: string
                              sicCodes:
                                description: SIC industry codes.
                                items:
                                  type: string
                                type: array
                              state:
                                description: Headquarters state or region.
                                type: string
                              streetAddress:
                                description: Street address.
                                type: string
                              technologyNames:
                                description: Technologies detected at the organization.
                                items:
                                  type: string
                                type: array
                              totalFunding:
                                description: Total disclosed funding in USD.
                                minimum: 0
                                type: number
                              totalFundingDisplay:
                                description: Human-readable total disclosed funding.
                                type: string
                              twitterUrl:
                                description: Canonical X or Twitter profile URL.
                                format: uri
                                type: string
                              websiteUrl:
                                description: Canonical organization website URL.
                                format: uri
                                type: string
                            required:
                            - id
                            - name
                            type: object
                        found:
                          description: Whether a matching organization was found.
                          type: boolean
                      required:
                      - found
                      - data
                      title: Apollo Organization output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: Apollo Organization
      tags:
      - apollo
      x-mint:
        href: /api-reference/apollo/organization
      x-payment-info:
        price:
          amount: '0.012000'
          currency: USD
          mode: fixed
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            amount: '0.012000'
            currency: USD
            minimumUsd: '0.001000'
            mode: fixed
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            amount: '0.012000'
            currency: USD
            minimumUsd: null
            mode: fixed
            quoteBasis: funded_ceiling
          protocol:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
          rail: mpp
          settlement:
            onExecutionFailure: charged_undelivered
            onVerificationError: indeterminate
            timing: before_execution
  /v1/run/apollo.organization_enrich:
    post:
      description: 'Enrich an organization by domain with company profile, industry, employee, revenue, funding, location, and technology data.


        **Price:** \$12.00 per 1,000 requests (flat per request - same cost regardless of results returned).


        **Routing:** one lane serves this API today, so a failed attempt has nowhere to fail over to. Payment outcome follows the selected rail''s settlement policy.


        **Catalog:** Apollo Organization Enrichment pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every Apollo endpoint.'
      operationId: apollo_organization_enrich
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              domain: apollo.io
            schema:
              additionalProperties: false
              example:
                domain: apollo.io
              properties:
                domain:
                  description: Organization domain without a path, such as apollo.io.
                  minLength: 1
                  type: string
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
              required:
              - domain
              title: Apollo Organization Enrichment input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          oneOf:
                          - type: 'null'
                          - properties:
                              annualRevenue:
                                description: Estimated annual revenue in USD.
                                minimum: 0
                                type: number
                              annualRevenueDisplay:
                                description: Human-readable estimated annual revenue.
                                type: string
                              city:
                                description: Headquarters city.
                                type: string
                              country:
                                description: Headquarters country.
                                type: string
                              description:
                                description: Organization summary.
                                type: string
                              domain:
                                description: Primary organization domain.
                                type: string
                              employeeCount:
                                description: Estimated employee count.
                                minimum: 0
                                type: integer
                              facebookUrl:
                                description: Canonical Facebook page URL.
                                format: uri
                                type: string
                              foundedYear:
                                description: Year the organization was founded.
                                type: integer
                              id:
                                description: Stable organization identifier.
                                type: string
                              image:
                                description: Organization logo URL.
                                format: uri
                                type: string
                              industries:
                                description: Industries associated with the organization.
                                items:
                                  type: string
                                type: array
                              industry:
                                description: Primary industry.
                                type: string
                              keywords:
                                description: Keywords associated with the organization.
                                items:
                                  type: string
                                type: array
                              latestFundingStage:
                                description: Latest disclosed funding stage.
                                type: string
                              latestFundingUtc:
                                description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                type: number
                              linkedinUrl:
                                description: Canonical LinkedIn company URL.
                                format: uri
                                type: string
                              naicsCodes:
                                description: NAICS industry codes.
                                items:
                                  type: string
                                type: array
                              name:
                                description: Organization name.
                                type: string
                              postalCode:
                                description: Headquarters postal code.
                                type: string
                              sicCodes:
                                description: SIC industry codes.
                                items:
                                  type: string
                                type: array
                              state:
                                description: Headquarters state or region.
                                type: string
                              streetAddress:
                                description: Street address.
                                type: string
                              technologyNames:
                                description: Technologies detected at the organization.
                                items:
                                  type: string
                                type: array
                              totalFunding:
                                description: Total disclosed funding in USD.
                                minimum: 0
                                type: number
                              totalFundingDisplay:
                                description: Human-readable total disclosed funding.
                                type: string
                              twitterUrl:
                                description: Canonical X or Twitter profile URL.
                                format: uri
                                type: string
                              websiteUrl:
                                description: Canonical organization website URL.
                                format: uri
                                type: string
                            required:
                            - id
                            - name
                            type: object
                        found:
                          description: Whether a matching organization was found.
                          type: boolean
                      required:
                      - found
                      - data
                      title: Apollo Organization Enrichment output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: Apollo Organization Enrichment
      tags:
      - apollo
      x-mint:
        href: /api-reference/apollo/organization-enrich
      x-payment-info:
        price:
          amount: '0.012000'
          currency: USD
          mode: fixed
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            amount: '0.012000'
            currency: USD
            minimumUsd: '0.001000'
            mode: fixed
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            amount: '0.012000'
            currency: USD
            minimumUsd: null
            mode: fixed
            quoteBasis: funded_ceiling
          protocol:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
          rail: mpp
          settlement:
            onExecutionFailure: charged_undelivered
            onVerificationError: indeterminate
            timing: before_execution
  /v1/run/apollo.organization_jobs:
    post:
      description: 'Get current job postings for an organization by ID with title, location, source URL, and timestamps.


        **Price:** \$12.00 per 1,000 requests (flat per request - same cost regardless of results returned).


        **Routing:** one lane serves this API today, so a failed attempt has nowhere to fail over to. Payment outcome follows the selected rail''s settlement policy.


        **Catalog:** Apollo Organization Jobs pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every Apollo endpoint.'
      operationId: apollo_organization_jobs
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              organizationId: 5e66b6381e05b4008c8331b8
            schema:
              additionalProperties: false
              example:
                organizationId: 5e66b6381e05b4008c8331b8
              properties:
                organizationId:
                  description: Organization identifier returned by an Apollo organization endpoint.
                  minLength: 1
                  type: string
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
              required:
              - organizationId
              title: Apollo Organization Jobs input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          oneOf:
                          - type: 'null'
                          - additionalProperties: false
                            properties:
                              jobs:
                                description: Current job postings.
                                items:
                                  properties:
                                    city:
                                      description: Job city.
                                      type: string
                                    country:
                                      description: Job country.
                                      type: string
                                    id:
                                      description: Stable job posting identifier.
                                      type: string
                                    lastSeenUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                      type: number
                                    postedUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                      type: number
                                    state:
                                      description: Job state or region.
                                      type: string
                                    title:
                                      description: Job title.
                                      type: string
                                    url:
                                      description: Canonical job posting URL.
                                      format: uri
                                      type: string
                                  required:
                                  - id
                                  - title
                                  - url
                                  type: object
                                type: array
                              limit:
                                description: Page size returned.
                                minimum: 0
                                type: integer
                              page:
                                description: One-based page returned.
                                minimum: 1
                                type: integer
                              total:
                                description: Total current job postings.
                                minimum: 0
                                type: integer
                              totalPages:
                                description: Total available pages.
                                minimum: 0
                                type: integer
                            required:
                            - jobs
                            - page
                            - limit
                            - total
                            - totalPages
                            type: object
                        found:
                          description: Whether any current job postings were found.
                          type: boolean
                      required:
                      - found
                      - data
                      title: Apollo Organization Jobs output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: Apollo Organization Jobs
      tags:
      - apollo
      x-mint:
        href: /api-reference/apollo/organization-jobs
      x-payment-info:
        price:
          amount: '0.012000'
          currency: USD
          mode: fixed
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            amount: '0.012000'
            currency: USD
            minimumUsd: '0.001000'
            mode: fixed
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            amount: '0.012000'
            currency: USD
            minimumUsd: null
            mode: fixed
            quoteBasis: funded_ceiling
          protocol:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
          rail: mpp
          settlement:
            onExecutionFailure: charged_undelivered
            onVerificationError: indeterminate
            timing: before_execution
  /v1/run/apollo.organization_news:
    post:
      description: 'Search news related to one or more organizations with article details, categories, and pagination totals.


        **Price:** \$12.00 per 1,000 requests (flat per request - same cost regardless of results returned).


        **Routing:** one lane serves this API today, so a failed attempt has nowhere to fail over to. Payment outcome follows the selected rail''s settlement policy.


        **Catalog:** Apollo Organization News pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every Apollo endpoint.'
      operationId: apollo_organization_news
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              limit: 3
              organizationIds:
              - 5e66b6381e05b4008c8331b8
              page: 1
            schema:
              additionalProperties: false
              example:
                limit: 3
                organizationIds:
                - 5e66b6381e05b4008c8331b8
                page: 1
              properties:
                keywords:
                  description: Optional keywords to match in related articles.
                  minLength: 1
                  type: string
                limit:
                  default: 25
                  description: Maximum articles returned on this page.
                  maximum: 100
                  minimum: 1
                  type: integer
                organizationIds:
                  description: Organization identifiers whose related news should be returned.
                  items:
                    minLength: 1
                    type: string
                  minItems: 1
                  type: array
                  uniqueItems: true
                page:
                  default: 1
                  description: One-based result page.
                  minimum: 1
                  type: integer
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
              required:
              - organizationIds
              title: Apollo Organization News input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          oneOf:
                          - type: 'null'
                          - additionalProperties: false
                            properties:
                              articles:
                                description: Related news articles on this page.
                                items:
                                  properties:
                                    domain:
                                      description: Publishing domain.
                                      type: string
                                    eventCategories:
                                      description: Detected business event categories.
                                      items:
                                        type: string
                                      type: array
                                    id:
                                      description: Stable article identifier.
                                      type: string
                                    organizationIds:
                                      description: Organization identifiers associated with the article.
                                      items:
                                        type: string
                                      type: array
                                    publishedUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                      type: number
                                    snippet:
                                      description: Article summary or excerpt.
                                      type: string
                                    title:
                                      description: Article title.
                                      type: string
                                    url:
                                      description: Canonical article URL.
                                      format: uri
                                      type: string
                                  required:
                                  - id
                                  - title
                                  - url
                                  type: object
                                type: array
                              limit:
                                description: Page size returned.
                                minimum: 0
                                type: integer
                              page:
                                description: One-based page returned.
                                minimum: 1
                                type: integer
                              total:
                                description: Total matching articles.
                                minimum: 0
                                type: integer
                              totalPages:
                                description: Total available pages.
                                minimum: 0
                                type: integer
                            required:
                            - articles
                            - page
                            - limit
                            - total
                            - totalPages
                            type: object
                        found:
                          description: Whether any related articles were found.
                          type: boolean
                      required:
                      - found
                      - data
                      title: Apollo Organization News output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: Apollo Organization News
      tags:
      - apollo
      x-mint:
        href: /api-reference/apollo/organization-news
      x-payment-info:
        price:
          amount: '0.012000'
          currency: USD
          mode: fixed
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            amount: '0.012000'
            currency: USD
            minimumUsd: '0.001000'
            mode: fixed
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            amount: '0.012000'
            currency: USD
            minimumUsd: null
            mode: fixed
            quoteBasis: funded_ceiling
          protocol:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
          rail: mpp
          settlement:
            onExecutionFailure: charged_undelivered
            onVerificationError: indeterminate
            timing: before_execution
  /v1/run/apollo.organizations_bulk_enrich:
    post:
      description: 'Enrich up to 10 organization domains in one request with normalized company profile, industry, employee, revenue, and location data. Priced per request rather than per domain, so a full batch of 10 costs the same as a batch of 1. Results are positionally aligned with the domains you send, and a domain with no match returns null in its slot.


        **Price:** \$60.00 per 1,000 requests (flat per request - same cost regardless of results returned).


        **Routing:** one lane serves this API today, so a failed attempt has nowhere to fail over to. Payment outcome follows the selected rail''s settlement policy.


        **Catalog:** Apollo Bulk Organization Enrichment pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every Apollo endpoint.'
      operationId: apollo_organizations_bulk_enrich
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              domains:
              - apollo.io
              - openai.com
            schema:
              additionalProperties: false
              example:
                domains:
                - apollo.io
                - openai.com
              properties:
                domains:
                  description: Organization domains to enrich, with at most 10 domains per request.
                  items:
                    minLength: 1
                    type: string
                  maxItems: 10
                  minItems: 1
                  type: array
                  uniqueItems: true
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
              required:
              - domains
              title: Apollo Bulk Organization Enrichment input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          oneOf:
                          - type: 'null'
                          - additionalProperties: false
                            properties:
                              enriched:
                                description: Number of uniquely enriched organizations.
                                minimum: 0
                                type: integer
                              missing:
                                description: Number of requested domains without a match.
                                minimum: 0
                                type: integer
                              organizations:
                                description: 'Enriched organizations, positionally aligned with the requested domains: index i of this array is the result for index i of the domains input, and the array is always the same length as that input. An entry is null when the domain had no match, so a partial batch still returns every domain it did resolve.'
                                items:
                                  description: The enriched organization for the domain at this index, or null when that domain had no match.
                                  properties:
                                    annualRevenue:
                                      description: Estimated annual revenue in USD.
                                      minimum: 0
                                      type: number
                                    annualRevenueDisplay:
                                      description: Human-readable estimated annual revenue.
                                      type: string
                                    city:
                                      description: Headquarters city.
                                      type: string
                                    country:
                                      description: Headquarters country.
                                      type: string
                                    description:
                                      description: Organization summary.
                                      type: string
                                    domain:
                                      description: Primary organization domain.
                                      type: string
                                    employeeCount:
                                      description: Estimated employee count.
                                      minimum: 0
                                      type: integer
                                    facebookUrl:
                                      description: Canonical Facebook page URL.
                                      format: uri
                                      type: string
                                    foundedYear:
                                      description: Year the organization was founded.
                                      type: integer
                                    id:
                                      description: Stable organization identifier.
                                      type: string
                                    image:
                                      description: Organization logo URL.
                                      format: uri
                                      type: string
                                    industries:
                                      description: Industries associated with the organization.
                                      items:
                                        type: string
                                      type: array
                                    industry:
                                      description: Primary industry.
                                      type: string
                                    keywords:
                                      description: Keywords associated with the organization.
                                      items:
                                        type: string
                                      type: array
                                    linkedinUrl:
                                      description: Canonical LinkedIn company URL.
                                      format: uri
                                      type: string
                                    naicsCodes:
                                      description: NAICS industry codes.
                                      items:
                                        type: string
                                      type: array
                                    name:
                                      description: Organization name.
                                      type: string
                                    postalCode:
                                      description: Headquarters postal code.
                                      type: string
                                    sicCodes:
                                      description: SIC industry codes.
                                      items:
                                        type: string
                                      type: array
                                    state:
                                      description: Headquarters state or region.
                                      type: string
                                    streetAddress:
                                      description: Street address.
                                      type: string
                                    twitterUrl:
                                      description: Canonical X or Twitter profile URL.
                                      format: uri
                                      type: string
                                    websiteUrl:
                                      description: Canonical organization website URL.
                                      format: uri
                                      type: string
                                  required:
                                  - id
                                  - name
                                  type:
                                  - object
                                  - 'null'
                                type: array
                              requested:
                                description: Number of requested domains.
                                minimum: 0
                                type: integer
                            required:
                            - organizations
                            - requested
                            - enriched
                            - missing
                            type: object
                        found:
                          description: Whether any requested organization was enriched. False when no requested domain matched, in which case data is null.
                          type: boolean
                      required:
                      - found
                      - data
                      title: Apollo Bulk Organization Enrichment output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: Apollo Bulk Organization Enrichment
      tags:
      - apollo
      x-mint:
        href: /api-reference/apollo/organizations-bulk-enrich
      x-payment-info:
        price:
          amount: '0.060000'
          currency: USD
          mode: fixed
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            amount: '0.060000'
            currency: USD
            minimumUsd: '0.001000'
            mode: fixed
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            amount: '0.060000'
            currency: USD
            minimumUsd: null
            mode: fixed
            quoteBasis: funded_ceiling
          protocol:
[...]
