openapi: 3.2.0
info:
  contact:
    email: support@getanyapi.com
  description: 'Any API, one wallet, USD, no subscriptions. Each API is a single discovered operation: send the normalized input, get a normalized result. Prices and payment outcomes are reported in USD; each operation documents the settlement policy for its enabled payment rails.'
  title: Any Zhihu API
  version: 1.0.0
  x-guidance: 'Use each operation''s published method and path with its normalized JSON input (see the operation requestBody). Before setting a client or tool timeout, GET /v1/apis/{sku} and inspect its trailing-30-day latency p50/p95/p99 and sample; p99 is an observation, not a maximum. To pay: send your AnyAPI key (Authorization: Bearer, billed from your USD wallet). For operations that advertise an inline rail, pay per call inline with x402 - call with no key, receive HTTP 402 with a PAYMENT-REQUIRED header, then retry with the PAYMENT-SIGNATURE header (base, no account needed); or pay per call inline with MPP (Machine Payments Protocol) - call with no key, receive HTTP 402 with a WWW-Authenticate: Payment challenge, then retry with the Authorization: Payment header (tempo, no account needed). x402 settles after execution; execution failure is reported as released; mpp settles before execution; execution failure is reported as charged_undelivered.'
servers:
- url: https://api.getanyapi.com
security:
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: zhihu
  x-group: Zhihu
paths:
  /v1/run/zhihu.answer:
    post:
      description: 'Fetch a public Zhihu answer with normalized author and question data.


        **Price:** \$1.20 per 1,000 requests (flat per request - same cost regardless of results returned).


        **Routing:** one lane serves this API today, so a failed attempt has nowhere to fail over to. Payment outcome follows the selected rail''s settlement policy.


        **Catalog:** Zhihu Answer pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every Zhihu endpoint.'
      operationId: zhihu_answer
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              answerId: '2054145988235880002'
            schema:
              additionalProperties: false
              example:
                answerId: '2054145988235880002'
              properties:
                answerId:
                  description: Zhihu answer identifier.
                  type: string
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
              required:
              - answerId
              title: Zhihu answer input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          description: Normalized answer data, or null when not found.
                          oneOf:
                          - type: 'null'
                          - properties:
                              authorHeadline:
                                description: Author headline.
                                type: string
                              authorImage:
                                description: Author avatar URL.
                                format: uri
                                type: string
                              authorName:
                                description: Author display name. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              authorToken:
                                description: Author URL token.
                                type: string
                              authorUserId:
                                description: Author identifier.
                                type: string
                              createdUtc:
                                description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. Populated whenever the provider has data for the entity.
                                type: number
                                x-anyapi-must-populate: true
                              excerpt:
                                description: Answer excerpt. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              id:
                                description: Answer identifier. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              questionId:
                                description: Parent question identifier. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              questionTitle:
                                description: Parent question title. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              updatedUtc:
                                description: Last update UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                type: number
                              url:
                                description: Canonical answer URL. Populated whenever the provider has data for the entity.
                                format: uri
                                type: string
                                x-anyapi-must-populate: true
                            required:
                            - id
                            - url
                            type: object
                        found:
                          description: True when the answer was found.
                          type: boolean
                      required:
                      - found
                      - data
                      title: Zhihu answer output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: Zhihu Answer
      tags:
      - zhihu
      x-mint:
        href: /api-reference/zhihu/answer
      x-payment-info:
        price:
          amount: '0.001200'
          currency: USD
          mode: fixed
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            amount: '0.001200'
            currency: USD
            minimumUsd: '0.001000'
            mode: fixed
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            amount: '0.001200'
            currency: USD
            minimumUsd: null
            mode: fixed
            quoteBasis: funded_ceiling
          protocol:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
          rail: mpp
          settlement:
            onExecutionFailure: charged_undelivered
            onVerificationError: indeterminate
            timing: before_execution
  /v1/run/zhihu.profile:
    post:
      description: 'Fetch a public Zhihu profile with normalized identity and audience data.


        **Price:** \$1.20 per 1,000 requests (flat per request - same cost regardless of results returned).


        **Routing:** one lane serves this API today, so a failed attempt has nowhere to fail over to. Payment outcome follows the selected rail''s settlement policy.


        **Catalog:** Zhihu Profile pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every Zhihu endpoint.'
      operationId: zhihu_profile
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              userToken: ming-he-43-93
            schema:
              additionalProperties: false
              example:
                userToken: ming-he-43-93
              properties:
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
                userToken:
                  description: Zhihu user URL token.
                  type: string
              required:
              - userToken
              title: Zhihu profile input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          description: Normalized profile data, or null when not found.
                          oneOf:
                          - type: 'null'
                          - properties:
                              answers:
                                description: Published answer count.
                                type: integer
                              articles:
                                description: Published article count.
                                type: integer
                              followers:
                                description: Follower count.
                                type: integer
                              gender:
                                description: Gender code reported by Zhihu.
                                type: integer
                              headline:
                                description: Profile headline. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              id:
                                description: User identifier. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              image:
                                description: Profile image URL. Populated whenever the provider has data for the entity.
                                format: uri
                                type: string
                                x-anyapi-must-populate: true
                              ipLocation:
                                description: IP location label reported by Zhihu.
                                type: string
                              name:
                                description: Display name. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              organization:
                                description: Whether this is an organization profile.
                                type: boolean
                              url:
                                description: Canonical profile URL. Populated whenever the provider has data for the entity.
                                format: uri
                                type: string
                                x-anyapi-must-populate: true
                              userToken:
                                description: User URL token. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                            required:
                            - id
                            - userToken
                            - url
                            type: object
                        found:
                          description: True when the profile was found.
                          type: boolean
                      required:
                      - found
                      - data
                      title: Zhihu profile output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: Zhihu Profile
      tags:
      - zhihu
      x-mint:
        href: /api-reference/zhihu/profile
      x-payment-info:
        price:
          amount: '0.001200'
          currency: USD
          mode: fixed
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            amount: '0.001200'
            currency: USD
            minimumUsd: '0.001000'
            mode: fixed
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            amount: '0.001200'
            currency: USD
            minimumUsd: null
            mode: fixed
            quoteBasis: funded_ceiling
          protocol:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
          rail: mpp
          settlement:
            onExecutionFailure: charged_undelivered
            onVerificationError: indeterminate
            timing: before_execution
  /v1/run/zhihu.question:
    post:
      description: 'Fetch a public Zhihu question with normalized text and engagement statistics.


        **Price:** \$1.20 per 1,000 requests (flat per request - same cost regardless of results returned).


        **Routing:** one lane serves this API today, so a failed attempt has nowhere to fail over to. Payment outcome follows the selected rail''s settlement policy.


        **Catalog:** Zhihu Question pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every Zhihu endpoint.'
      operationId: zhihu_question
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              questionId: '37811449'
            schema:
              additionalProperties: false
              example:
                questionId: '37811449'
              properties:
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
                questionId:
                  description: Zhihu question identifier.
                  type: string
              required:
              - questionId
              title: Zhihu question input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          description: Normalized question data, or null when not found.
                          oneOf:
                          - type: 'null'
                          - properties:
                              answers:
                                description: Answer count.
                                type: integer
                              comments:
                                description: Comment count.
                                type: integer
                              createdUtc:
                                description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. Populated whenever the provider has data for the entity.
                                type: number
                                x-anyapi-must-populate: true
                              description:
                                description: Question body as returned by Zhihu. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              excerpt:
                                description: Short question excerpt.
                                type: string
                              followers:
                                description: Follower count.
                                type: integer
                              id:
                                description: Question identifier. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              title:
                                description: Question title. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              updatedUtc:
                                description: Last update UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                type: number
                              url:
                                description: Canonical question URL. Populated whenever the provider has data for the entity.
                                format: uri
                                type: string
                                x-anyapi-must-populate: true
                              views:
                                description: View count.
                                type: integer
                            required:
                            - id
                            - url
                            type: object
                        found:
                          description: True when the question was found.
                          type: boolean
                      required:
                      - found
                      - data
                      title: Zhihu question output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: Zhihu Question
      tags:
      - zhihu
      x-mint:
        href: /api-reference/zhihu/question
      x-payment-info:
        price:
          amount: '0.001200'
          currency: USD
          mode: fixed
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            amount: '0.001200'
            currency: USD
            minimumUsd: '0.001000'
            mode: fixed
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            amount: '0.001200'
            currency: USD
            minimumUsd: null
            mode: fixed
            quoteBasis: funded_ceiling
          protocol:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
          rail: mpp
          settlement:
            onExecutionFailure: charged_undelivered
            onVerificationError: indeterminate
            timing: before_execution
  /v1/run/zhihu.question_answers:
    post:
      description: 'List public answers to a Zhihu question with normalized authors and engagement data.


        **Price:** \$1.20 per 1,000 requests (flat per request - same cost regardless of results returned).


        **Routing:** one lane serves this API today, so a failed attempt has nowhere to fail over to. Payment outcome follows the selected rail''s settlement policy.


        **Catalog:** Zhihu Question Answers pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every Zhihu endpoint.'
      operationId: zhihu_question_answers
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              limit: 5
              offset: 0
              order: default
              questionId: '37811449'
            schema:
              additionalProperties: false
              example:
                limit: 5
                offset: 0
                order: default
                questionId: '37811449'
              properties:
                cursor:
                  default: ''
                  description: Pagination cursor from an answer item in the previous response.
                  type: string
                limit:
                  default: 5
                  description: Number of answers requested per page.
                  type: integer
                offset:
                  default: 0
                  description: Pagination offset.
                  type: integer
                order:
                  default: default
                  description: 'Answer ordering: default ranking or recently updated.'
                  enum:
                  - default
                  - updated
                  type: string
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
                questionId:
                  description: Zhihu question identifier.
                  type: string
                sessionId:
                  default: ''
                  description: Pagination session identifier returned in the previous response.
                  type: string
              required:
              - questionId
              title: Zhihu question answers input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          description: Answer results and pagination state, or null when none were found.
                          oneOf:
                          - type: 'null'
                          - additionalProperties: false
                            properties:
                              answers:
                                description: Normalized answers. Populated whenever the provider has data for the entity.
                                items:
                                  properties:
                                    authorImage:
                                      description: Author avatar URL.
                                      format: uri
                                      type: string
                                    authorName:
                                      description: Author display name. Populated whenever the provider has data for the entity.
                                      type: string
                                      x-anyapi-must-populate: true
                                    authorToken:
                                      description: Author URL token.
                                      type: string
                                    authorUserId:
                                      description: Author identifier.
                                      type: string
                                    comments:
                                      description: Comment count.
                                      type: integer
                                    createdUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. Populated whenever the provider has data for the entity.
                                      type: number
                                      x-anyapi-must-populate: true
                                    cursor:
                                      description: Cursor associated with this answer; use the final item cursor for the next page.
                                      type: string
                                    excerpt:
                                      description: Answer excerpt. Populated whenever the provider has data for the entity.
                                      type: string
                                      x-anyapi-must-populate: true
                                    id:
                                      description: Answer identifier. Populated whenever the provider has data for the entity.
                                      type: string
                                      x-anyapi-must-populate: true
                                    saves:
                                      description: Save count.
                                      type: integer
                                    thanks:
                                      description: Thanks count.
                                      type: integer
                                    updatedUtc:
                                      description: Last update UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                      type: number
                                    url:
                                      description: Canonical answer URL. Populated whenever the provider has data for the entity.
                                      format: uri
                                      type: string
                                      x-anyapi-must-populate: true
                                    votes:
                                      description: Upvote count.
                                      type: integer
                                  required:
                                  - id
                                  - url
                                  type: object
                                type: array
                                x-anyapi-must-populate: true
                              isEnd:
                                description: Whether the result set has reached its final page.
                                type: boolean
                              sessionId:
                                description: Session identifier to pass when requesting another page.
                                type: string
                            required:
                            - isEnd
                            - sessionId
                            - answers
                            type: object
                        found:
                          description: True when answers were found.
                          type: boolean
                      required:
                      - found
                      - data
                      title: Zhihu question answers output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: Zhihu Question Answers
      tags:
      - zhihu
      x-mint:
        href: /api-reference/zhihu/question-answers
      x-payment-info:
        price:
          amount: '0.001200'
          currency: USD
          mode: fixed
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            amount: '0.001200'
            currency: USD
            minimumUsd: '0.001000'
            mode: fixed
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            amount: '0.001200'
            currency: USD
            minimumUsd: null
            mode: fixed
            quoteBasis: funded_ceiling
          protocol:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
          rail: mpp
          settlement:
            onExecutionFailure: charged_undelivered
            onVerificationError: indeterminate
            timing: before_execution
  /v1/run/zhihu.search_articles:
    post:
      description: 'Search public Zhihu articles by keyword with normalized author and engagement data.


        **Price:** \$1.20 per 1,000 requests (flat per request - same cost regardless of results returned).


        **Routing:** one lane serves this API today, so a failed attempt has nowhere to fail over to. Payment outcome follows the selected rail''s settlement policy.


        **Catalog:** Zhihu Article Search pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every Zhihu endpoint.'
      operationId: zhihu_search_articles
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              limit: '20'
              query: deepseek
              showAllTopics: 0
            schema:
              additionalProperties: false
              example:
                limit: '20'
                query: deepseek
                showAllTopics: 0
              properties:
                limit:
                  default: '20'
                  description: Number of articles requested per page.
                  type: string
                offset:
                  default: '0'
                  description: Result offset returned as nextOffset in the previous response.
                  type: string
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
                query:
                  description: Search keyword.
                  type: string
                searchHashId:
                  default: ''
                  description: Search hash identifier returned in the previous response.
                  type: string
                showAllTopics:
                  default: 0
                  description: 'Whether to include all topics: 0 excludes them and 1 includes them.'
                  type: integer
                sort:
                  default: ''
                  description: 'Article ordering: comprehensive, most upvoted, or newest.'
                  enum:
                  - ''
                  - upvoted_count
                  - created_time
                  type: string
                timeInterval:
                  default: ''
                  description: Optional publication-time filter.
                  enum:
                  - ''
                  - a_day
                  - a_week
                  - a_month
                  - three_months
                  - half_a_year
                  - a_year
                  type: string
                verticalInfo:
                  default: 0,0,0,0,0,0,0,0,0,2,0,0
                  description: Article-search vertical continuation state returned as nextVerticalInfo in the previous response.
                  type: string
              required:
              - query
              title: Zhihu article search input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          description: Article results and pagination state, or null when none were found.
                          oneOf:
                          - type: 'null'
                          - additionalProperties: false
                            properties:
                              articles:
                                description: Normalized article results. Populated whenever the provider has data for the entity.
                                items:
                                  properties:
                                    authorImage:
                                      description: Author avatar URL.
                                      format: uri
                                      type: string
                                    authorName:
                                      description: Author display name. Populated whenever the provider has data for the entity.
                                      type: string
                                      x-anyapi-must-populate: true
                                    authorToken:
                                      description: Author URL token.
                                      type: string
                                    authorUserId:
                                      description: Author identifier.
                                      type: string
                                    comments:
                                      description: Comment count.
                                      type: integer
                                    createdUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                      type: number
                                    excerpt:
                                      description: Article excerpt. Populated whenever the provider has data for the entity.
                                      type: string
                                      x-anyapi-must-populate: true
                                    id:
                                      description: Article identifier. Populated whenever the provider has data for the entity.
                                      type: string
                                      x-anyapi-must-populate: true
                                    title:
                                      description: Article title. Populated whenever the provider has data for the entity.
                                      type: string
                                      x-anyapi-must-populate: true
                                    updatedUtc:
                                      description: Last update UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                      type: number
                                    url:
                                      description: Canonical article URL. Populated whenever the provider has data for the entity.
                                      format: uri
                                      type: string
                                      x-anyapi-must-populate: true
                                    votes:
                                      description: Upvote count.
                                      type: integer
                                  required:
                                  - id
                                  - url
                                  type: object
                                type: array
                                x-anyapi-must-populate: true
                              isEnd:
                                description: Whether the result set has reached its final page.
                                type: boolean
                              nextOffset:
                                description: Result offset to pass as offset when requesting the next page.
                                type: string
                              nextVerticalInfo:
                                description: Article-search vertical continuation state to pass as verticalInfo when requesting the next page.
                                type: string
                              searchHashId:
                                description: Search hash identifier to pass when requesting another page.
                                type: string
                            required:
                            - isEnd
                            - nextOffset
                            - searchHashId
                            - nextVerticalInfo
                            - articles
                            type: object
                        found:
                          description: True when articles were found.
                          type: boolean
                      required:
                      - found
                      - data
                      title: Zhihu article search output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: Zhihu Article Search
      tags:
      - zhihu
      x-mint:
        href: /api-reference/zhihu/search-articles
      x-payment-info:
        price:
          amount: '0.001200'
          currency: USD
          mode: fixed
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            amount: '0.001200'
            currency: USD
            minimumUsd: '0.001000'
            mode: fixed
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            amount: '0.001200'
            currency: USD
            minimumUsd: null
            mode: fixed
            quoteBasis: funded_ceiling
          protocol:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
          rail: mpp
          settlement:
            onExecutionFailure: charged_undelivered
            onVerificationError: indeterminate
            timing: before_execution
components:
  schemas:
    AgentUpgrade:
      properties:
        authorizationServer:
          format: uri
          type: string
        clientId:
          type: string
        device:
          $ref: '#/components/schemas/DeviceUpgrade'
        scope:
          type: string
      required:
      - authorizationServer
      - scope
      type: object
    Payment:
      properties:
        costUsd:
          description: Known USD payment amount for this request.
          minimum: 0
          type: number
        rail:
          minLength: 1
          type: string
        settlementState:
          enum:
          - charged_undelivered
          - indeterminate
          type: string
      required:
      - rail
      - settlementState
      - costUsd
      type: object
    Error:
      properties:
        code:
          description: Stable machine-readable error code when the endpoint defines one.
          type: string
        error:
          description: Customer-safe error message.
          type: string
        payment:
          $ref: '#/components/schemas/Payment'
        requestId:
          description: This run's AnyAPI request id, the same value as the X-Anyapi-Request-Id response header. Quote it to support. Absent on endpoints that do not execute a run.
          format: uuid
          type: string
      required:
      - error
      type: object
    PaymentRequiredError:
      allOf:
      - $ref: '#/components/schemas/Error'
      - properties:
          error:
            not:
              const: trial_cap_reached
        type: object
    DeviceUpgrade:
      properties:
        deviceCode:
          type: string
        expiresIn:
          minimum: 0
          type: integer
        grantType:
          type: string
        interval:
          minimum: 1
          type: integer
        tokenEndpoint:
          format: uri
          type: string
        userCode:
          type: string
        verificationUri:
          format: uri
          type: string
        verificationUriComplete:
          format: uri
          type: string
      required:
      - verificationUriComplete
      - verificationUri
      - userCode
      - deviceCode
      - tokenEndpoint
      - grantType
      - interval
      - expiresIn
      type: object
    TrialCapReached:
      properties:
        error:
          const: trial_cap_reached
          type: string
        message:
          description: Human-relayable continuation instructions, including an executable token poll.
          type: string
        upgrade:
          $ref: '#/components/schemas/AgentUpgrade'
      required:
      - error
      - message
      - upgrade
      type: object
  securitySchemes:
    apiKeyAuth:
      description: Your AnyAPI key.
      in: header
      name: X-API-Key
      type: apiKey
      x-default: YOUR_ANYAPI_KEY
    bearerAuth:
      description: Your AnyAPI key as a Bearer token.
      scheme: bearer
      type: http
      x-default: YOUR_ANYAPI_KEY
