openapi: 3.2.0
info:
  contact:
    email: support@getanyapi.com
  description: 'Any API, one wallet, USD, no subscriptions. Each API is a single discovered operation: send the normalized input, get a normalized result. Prices and payment outcomes are reported in USD; each operation documents the settlement policy for its enabled payment rails.'
  title: Any Tiktok Shop API
  version: 1.0.0
  x-guidance: 'Use each operation''s published method and path with its normalized JSON input (see the operation requestBody). Before setting a client or tool timeout, GET /v1/apis/{sku} and inspect its trailing-30-day latency p50/p95/p99 and sample; p99 is an observation, not a maximum. To pay: send your AnyAPI key (Authorization: Bearer, billed from your USD wallet). For operations that advertise an inline rail, pay per call inline with x402 - call with no key, receive HTTP 402 with a PAYMENT-REQUIRED header, then retry with the PAYMENT-SIGNATURE header (base, no account needed); or pay per call inline with MPP (Machine Payments Protocol) - call with no key, receive HTTP 402 with a WWW-Authenticate: Payment challenge, then retry with the Authorization: Payment header (tempo, no account needed). x402 settles after execution; execution failure is reported as released; mpp settles before execution; execution failure is reported as charged_undelivered.'
servers:
- url: https://api.getanyapi.com
security:
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: tiktok shop
  x-group: TikTok Shop
paths:
  /v1/run/tiktok_shop.categories:
    post:
      description: 'List the TikTok Shop category tree for a market: top-level categories with ids, slugs, and images, each with its child categories.


        **Price:** \$1.20 per 1,000 requests (flat per request - same cost regardless of results returned).


        **Routing:** one lane serves this API today, so a failed attempt has nowhere to fail over to. Payment outcome follows the selected rail''s settlement policy.


        **Catalog:** TikTok Shop Categories pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every TikTok Shop endpoint.'
      operationId: tiktok_shop_categories
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              region: US
            schema:
              additionalProperties: false
              example:
                region: US
              properties:
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
                region:
                  default: US
                  description: Country code of the TikTok Shop market whose category tree to list. Only US and VN publish a category tree.
                  enum:
                  - US
                  - VN
                  type: string
              required: []
              title: TikTok Shop categories input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          oneOf:
                          - type: 'null'
                          - additionalProperties: false
                            properties:
                              categories:
                                description: Top-level TikTok Shop categories for the market, each with its child categories. Populated whenever the provider has data for the entity.
                                items:
                                  properties:
                                    categoryId:
                                      description: TikTok Shop category id. Pass this to tiktok_shop.category_products. Populated whenever the provider has data for the entity.
                                      type: string
                                      x-anyapi-must-populate: true
                                    children:
                                      description: Child categories one level down.
                                      items:
                                        properties:
                                          categoryId:
                                            description: TikTok Shop category id.
                                            type: string
                                          isLeaf:
                                            description: True when the category has no children.
                                            type: boolean
                                          name:
                                            description: Display name of the category.
                                            type: string
                                          slug:
                                            description: URL slug of the category.
                                            type: string
                                        required:
                                        - categoryId
                                        - name
                                        type: object
                                      type: array
                                    image:
                                      description: Category tile image URL.
                                      type: string
                                    isLeaf:
                                      description: True when the category has no children.
                                      type: boolean
                                    name:
                                      description: Display name of the category. Populated whenever the provider has data for the entity.
                                      type: string
                                      x-anyapi-must-populate: true
                                    slug:
                                      description: URL slug of the category.
                                      type: string
                                  required:
                                  - categoryId
                                  - name
                                  type: object
                                type: array
                                x-anyapi-must-populate: true
                            required:
                            - categories
                            type: object
                        found:
                          type: boolean
                      required:
                      - found
                      - data
                      title: TikTok Shop categories output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: TikTok Shop Categories
      tags:
      - tiktok shop
      x-mint:
        href: /api-reference/tiktok-shop/categories
      x-payment-info:
        price:
          amount: '0.001200'
          currency: USD
          mode: fixed
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            amount: '0.001200'
            currency: USD
            minimumUsd: '0.001000'
            mode: fixed
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            amount: '0.001200'
            currency: USD
            minimumUsd: null
            mode: fixed
            quoteBasis: funded_ceiling
          protocol:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
          rail: mpp
          settlement:
            onExecutionFailure: charged_undelivered
            onVerificationError: indeterminate
            timing: before_execution
  /v1/run/tiktok_shop.category_products:
    post:
      description: 'Browse TikTok Shop products inside a category by category id: price, discount, rating, sales count, seller, and product URL per product.


        **Price:** \$1.20 per 1,000 requests (flat per request - same cost regardless of results returned).


        **Routing:** one lane serves this API today, so a failed attempt has nowhere to fail over to. Payment outcome follows the selected rail''s settlement policy.


        **Catalog:** TikTok Shop Category Products pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every TikTok Shop endpoint.'
      operationId: tiktok_shop_category_products
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              categoryId: '700645'
              region: US
            schema:
              additionalProperties: false
              example:
                categoryId: '700645'
                region: US
              properties:
                categoryId:
                  description: TikTok Shop category id, from tiktok_shop.categories (e.g. 700645 for Health).
                  type: string
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
                region:
                  default: US
                  description: Two-letter country code of the TikTok Shop market (e.g. US).
                  type: string
              required:
              - categoryId
              title: TikTok Shop category products input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          oneOf:
                          - type: 'null'
                          - additionalProperties: false
                            properties:
                              hasMore:
                                description: True when the category has further pages upstream.
                                type: boolean
                              items:
                                description: 'Product records in the category: id, title, price, rating, sales count, seller, and product URL. Populated whenever the provider has data for the entity.'
                                items:
                                  properties:
                                    currency:
                                      description: ISO currency name, e.g. USD.
                                      type: string
                                    discountPct:
                                      description: Discount off the original price as a percentage, e.g. 10 for 10% off. Omitted when the product is not discounted.
                                      type: number
                                    image:
                                      description: Primary product image URL.
                                      type: string
                                    originalPrice:
                                      description: Pre-discount list price (0 when not on sale).
                                      type: number
                                    price:
                                      description: Current sale price.
                                      type: number
                                    productId:
                                      description: TikTok Shop product id. Populated whenever the provider has data for the entity.
                                      type: string
                                      x-anyapi-must-populate: true
                                    rating:
                                      description: Average review score.
                                      type: number
                                    reviewCount:
                                      description: Number of reviews.
                                      type: integer
                                    sellerId:
                                      description: TikTok Shop seller id, for joining to the seller's other products.
                                      type: string
                                    shopName:
                                      description: Seller shop name.
                                      type: string
                                    soldCount:
                                      description: Units sold.
                                      type: integer
                                    title:
                                      description: Product title. Populated whenever the provider has data for the entity.
                                      type: string
                                      x-anyapi-must-populate: true
                                    url:
                                      description: Canonical product detail page URL. Populated whenever the provider has data for the entity.
                                      type: string
                                      x-anyapi-must-populate: true
                                  required:
                                  - productId
                                  - title
                                  type: object
                                type: array
                                x-anyapi-must-populate: true
                            required:
                            - items
                            type: object
                        found:
                          type: boolean
                      required:
                      - found
                      - data
                      title: TikTok Shop category products output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: TikTok Shop Category Products
      tags:
      - tiktok shop
      x-mint:
        href: /api-reference/tiktok-shop/category-products
      x-payment-info:
        price:
          amount: '0.001200'
          currency: USD
          mode: fixed
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            amount: '0.001200'
            currency: USD
            minimumUsd: '0.001000'
            mode: fixed
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            amount: '0.001200'
            currency: USD
            minimumUsd: null
            mode: fixed
            quoteBasis: funded_ceiling
          protocol:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
          rail: mpp
          settlement:
            onExecutionFailure: charged_undelivered
            onVerificationError: indeterminate
            timing: before_execution
  /v1/run/tiktok_shop.creator:
    post:
      description: 'TikTok Shop creator performance by handle: GMV range, promoted product count, brand collaborations, follower age/gender/location demographics, category GMV split, and video versus live engagement.


        **Price:** billed per result - \$5.50 per 1,000 requests base + \$0.00 per 1,000 results, capped at \$5.50 per 1,000 requests.


        **Routing:** one lane serves this API today, so a failed attempt has nowhere to fail over to. Payment outcome follows the selected rail''s settlement policy.


        **Catalog:** TikTok Shop Creator pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every TikTok Shop endpoint.'
      operationId: tiktok_shop_creator
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              handle: golinutrition
            schema:
              additionalProperties: false
              example:
                handle: golinutrition
              properties:
                handle:
                  description: TikTok handle of the creator or shop account, without the @ (e.g. golinutrition).
                  type: string
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
                region:
                  default: us
                  description: Lowercase two-letter country code of the TikTok Shop market (e.g. us).
                  type: string
              required:
              - handle
              title: TikTok Shop creator input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          oneOf:
                          - type: 'null'
                          - properties:
                              audienceAge:
                                description: Follower age distribution.
                                items:
                                  properties:
                                    bucket:
                                      description: Age bucket, e.g. 25-34.
                                      type: string
                                    sharePct:
                                      description: Share of followers in this bucket, as a percentage.
                                      type: number
                                  type: object
                                type: array
                              audienceGender:
                                description: Follower gender distribution.
                                items:
                                  properties:
                                    gender:
                                      description: Gender label as published upstream.
                                      type: string
                                    sharePct:
                                      description: Share of followers, as a percentage.
                                      type: number
                                  type: object
                                type: array
                              audienceLocations:
                                description: Top follower locations.
                                items:
                                  properties:
                                    followers:
                                      description: Followers in this location.
                                      type: integer
                                    state:
                                      description: State or region name.
                                      type: string
                                  type: object
                                type: array
                              avgCommissionRange:
                                description: Banded average affiliate commission rate the creator earns. Empty when upstream does not publish it.
                                type: string
                              avgLiveLikes:
                                description: Average likes per live stream.
                                type: number
                              avgLiveViews:
                                description: Average viewers per live stream.
                                type: number
                              avgVideoComments:
                                description: Average comments per video.
                                type: number
                              avgVideoLikes:
                                description: Average likes per video.
                                type: number
                              avgVideoViews:
                                description: Average views per video.
                                type: number
                              bio:
                                description: Creator bio text.
                                type: string
                              brandCollaborations:
                                description: Number of distinct brands the creator has collaborated with.
                                type: integer
                              categories:
                                description: TikTok Shop categories the creator sells in.
                                items:
                                  properties:
                                    categoryId:
                                      description: TikTok Shop category id.
                                      type: string
                                    name:
                                      description: Category display name.
                                      type: string
                                  type: object
                                type: array
                              followers:
                                description: Follower count.
                                type: integer
                              gmvRange:
                                description: Banded gross merchandise value the creator has driven, e.g. "$25K-$60K". Upstream publishes a band rather than an exact figure.
                                type: string
                              gpm:
                                description: Gross merchandise value per thousand views. Zero when upstream does not publish it.
                                type: number
                              handle:
                                description: TikTok handle of the creator, without the @. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              image:
                                description: Creator avatar URL.
                                type: string
                              liveCount:
                                description: Number of live streams in the measured window.
                                type: integer
                              liveEngagementRate:
                                description: Engagement rate on live streams, as a percentage.
                                type: number
                              nickname:
                                description: Display name of the creator. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              postRate:
                                description: Share of the creator's posts that carry a shop product, as a percentage.
                                type: number
                              promotedProducts:
                                description: Number of TikTok Shop products the creator has promoted.
                                type: integer
                              rating:
                                description: Creator rating. Zero when upstream does not publish it.
                                type: number
                              region:
                                description: Two-letter country code of the creator's TikTok Shop market.
                                type: string
                              videoCount:
                                description: Number of videos posted in the measured window.
                                type: integer
                              videoEngagementRate:
                                description: Engagement rate on videos, as a percentage.
                                type: number
                            required:
                            - handle
                            type: object
                        found:
                          type: boolean
                      required:
                      - found
                      - data
                      title: TikTok Shop creator output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: TikTok Shop Creator
      tags:
      - tiktok shop
      x-mint:
        href: /api-reference/tiktok-shop/creator
      x-payment-info:
        price:
          currency: USD
          max: '0.005500'
          min: '0.005500'
          mode: dynamic
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            currency: USD
            max: '0.005500'
            min: '0.005500'
            minimumUsd: '0.001000'
            mode: dynamic
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            currency: USD
            max: '0.005500'
            min: '0.005500'
            minimumUsd: null
            mode: dynamic
            quoteBasis: funded_ceiling
          protocol:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
          rail: mpp
          settlement:
            onExecutionFailure: charged_undelivered
            onVerificationError: indeterminate
            timing: before_execution
  /v1/run/tiktok_shop.product:
    post:
      description: 'Fetch TikTok Shop product details (title, price, sales, seller, and ratings) from a product URL.


        **Price:** \$2.00 per 1,000 requests (flat per request - same cost regardless of results returned).


        **Routing:** 2 independent lanes are available in execution order. A failed attempt uses the next lane only when the request''s payment authorizes that lane''s price; the normalized schema stays the same.


        **Catalog:** TikTok Shop Product pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every TikTok Shop endpoint.'
      operationId: tiktok_shop_product
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              url: https://www.tiktok.com/shop/pdp/goli-ashwagandha-gummies-with-vitamin-d-ksm-66-vegan-non-gmo/1729587769570529799
            schema:
              additionalProperties: false
              example:
                url: https://www.tiktok.com/shop/pdp/goli-ashwagandha-gummies-with-vitamin-d-ksm-66-vegan-non-gmo/1729587769570529799
              properties:
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
                region:
                  description: Two-letter country code for the proxy location used to access region-specific products (e.g. US, GB, FR). Defaults to US.
                  type: string
                url:
                  description: TikTok Shop product detail page URL (e.g. https://www.tiktok.com/shop/pdp/.../1729587769570529799).
                  type: string
              required:
              - url
              title: TikTok Shop Product input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          oneOf:
                          - type: 'null'
                          - properties:
                              currency:
                                description: Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              originalPrice:
                                description: Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              price:
                                description: Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              productId:
                                description: Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              rating:
                                type: number
                              reviewCount:
                                type: integer
                              sellerLocation:
                                type: string
                              sellerName:
                                description: Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              soldCount:
                                type: integer
                              title:
                                description: Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                            required:
                            - productId
                            - title
                            - price
                            - originalPrice
                            - currency
                            - soldCount
                            - rating
                            - reviewCount
                            - sellerName
                            - sellerLocation
                            type: object
                        found:
                          type: boolean
                      required:
                      - found
                      - data
                      title: TikTok Shop Product output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: TikTok Shop Product
      tags:
      - tiktok shop
      x-mint:
        href: /api-reference/tiktok-shop/product
      x-payment-info:
        price:
          currency: USD
          max: '0.003600'
          min: '0.002000'
          mode: dynamic
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            currency: USD
            max: '0.003600'
            min: '0.002000'
            minimumUsd: '0.001000'
            mode: dynamic
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            currency: USD
            max: '0.003600'
            min: '0.002000'
            minimumUsd: null
            mode: dynamic
            quoteBasis: funded_ceiling
          protocol:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
          rail: mpp
          settlement:
            onExecutionFailure: charged_undelivered
            onVerificationError: indeterminate
            timing: before_execution
  /v1/run/tiktok_shop.product_full:
    post:
      description: 'Deep TikTok Shop product record from a product URL: affiliate commission rate, units sold and GMV over the last 30 days and lifetime, stock, rating, review count, category tree, listing date, and the seller''s own sales totals.


        **Price:** billed per result - \$22.00 per 1,000 requests base + \$0.00 per 1,000 results, capped at \$22.00 per 1,000 requests.


        **Routing:** one lane serves this API today, so a failed attempt has nowhere to fail over to. Payment outcome follows the selected rail''s settlement policy.


        **Catalog:** TikTok Shop Product Full pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every TikTok Shop endpoint.'
      operationId: tiktok_shop_product_full
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              url: https://www.tiktok.com/shop/pdp/1729527313880355335
            schema:
              additionalProperties: false
              example:
                url: https://www.tiktok.com/shop/pdp/1729527313880355335
              properties:
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
                url:
                  description: TikTok Shop product URL. Any of the public forms works (https://www.tiktok.com/shop/pdp/<id>, https://shop.tiktok.com/<region>/pdp/<slug>/<id>, or https://shop.tiktok.com/view/product/<id>); the product id is read out of it.
                  type: string
              required:
              - url
              title: TikTok Shop product full input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          oneOf:
                          - type: 'null'
                          - properties:
                              categoryId:
                                description: Top-level TikTok Shop category id.
                                type: string
                              categoryPath:
                                description: Slash-separated category breadcrumb, e.g. Health/Nutrition & Wellness/Vitamins.
                                type: string
                              categoryRank:
                                description: Sales rank of this product within its category. Approximate.
                                type: number
                              commissionRatePct:
                                description: Affiliate commission rate as a percentage, e.g. 25 for 25%. Zero when the product runs no open affiliate offer.
                                type: number
                              currency:
                                description: ISO currency code, e.g. USD. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              gmv:
                                description: Lifetime gross merchandise value in the product's currency. Rounded upstream to three significant figures, so treat it as approximate.
                                type: number
                              gmv30d:
                                description: Gross merchandise value over the last 30 days, in the product's currency. Rounded upstream to three significant figures, so treat it as approximate.
                                type: number
                              image:
                                description: Primary product image URL.
                                type: string
                              listedUtc:
                                description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                type: number
                              liveCount:
                                description: Lifetime count of live streams promoting this product. Approximate.
                                type: number
                              liveCount30d:
                                description: Live streams promoting this product in the last 30 days. Approximate.
                                type: number
                              maxPrice:
                                description: Highest variant price.
                                type: number
                              minPrice:
                                description: Lowest variant price.
                                type: number
                              offShelf:
                                description: True when the listing is no longer on sale.
                                type: boolean
                              price:
                                description: Current selling price in the product's currency. Populated whenever the provider has data for the entity.
                                type: number
                                x-anyapi-must-populate: true
                              productId:
                                description: TikTok Shop product id. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              rating:
                                description: Average review score.
                                type: number
                              region:
                                description: Two-letter country code of the TikTok Shop market, e.g. US.
                                type: string
                              reviewCount:
                                description: Number of reviews. Rounded upstream to three significant figures, so treat it as approximate.
                                type: number
                              sellerGmv:
                                description: Seller's lifetime gross merchandise value. Approximate.
                                type: number
                              sellerId:
                                description: TikTok Shop seller id.
                                type: string
                              sellerName:
                                description: Seller shop name. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              sellerUnitsSold:
                                description: Seller's lifetime units sold across all products. Approximate.
                                type: number
                              sellerUrl:
                                description: Seller storefront URL.
                                type: string
                              stock:
                                description: Units currently in stock. Rounded upstream to three significant figures, so treat it as approximate.
                                type: number
                              title:
                                description: Product title. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              unitsSold:
                                description: Lifetime units sold. Rounded upstream to three significant figures, so treat it as approximate.
                                type: number
                              unitsSold30d:
                                description: Units sold in the last 30 days. Rounded upstream to three significant figures, so treat it as approximate.
                                type: number
                              url:
                                description: Canonical product detail page URL. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              videoCount:
                                description: Lifetime count of videos promoting this product. Approximate.
                                type: number
                              videoCount30d:
                                description: Videos promoting this product in the last 30 days. Approximate.
                                type: number
                            required:
                            - productId
                            - title
                            type: object
                        found:
                          type: boolean
                      required:
                      - found
                      - data
                      title: TikTok Shop product full output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: TikTok Shop Product Full
      tags:
      - tiktok shop
      x-mint:
        href: /api-reference/tiktok-shop/product-full
      x-payment-info:
        price:
          currency: USD
          max: '0.022000'
          min: '0.022000'
          mode: dynamic
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            currency: USD
            max: '0.022000'
            min: '0.022000'
            minimumUsd: '0.001000'
            mode: dynamic
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            currency: USD
            max: '0.022000'
            min: '0.022000'
            minimumUsd: null
            mode: dynamic
            quoteBasis: funded_ceiling
          protocol:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
          rail: mpp
          settlement:
            onExecutionFailure: charged_undelivered
            onVerificationError: indeterminate
            timing: before_execution
  /v1/run/tiktok_shop.product_reviews:
    post:
      description: 'Fetch customer reviews for a TikTok Shop product by URL (rating, text, reviewer, country, and verified-purchase flag).


        **Price:** \$2.00 per 1,000 requests (flat per request - same cost regardless of results returned).


        **Routing:** 2 independent lanes are available in execution order. A failed attempt uses the next lane only when the request''s payment authorizes that lane''s price; the normalized schema stays the same.


        **Catalog:** TikTok Shop Product Reviews pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every TikTok Shop endpoint.'
      operationId: tiktok_shop_product_reviews
      parameters:
[...]
