openapi: 3.2.0
info:
  contact:
    email: support@getanyapi.com
  description: 'Any API, one wallet, USD, no subscriptions. Each API is a single discovered operation: send the normalized input, get a normalized result. Prices and payment outcomes are reported in USD; each operation documents the settlement policy for its enabled payment rails.'
  title: Company API
  version: 1.0.0
  x-guidance: 'Use each operation''s published method and path with its normalized JSON input (see the operation requestBody). Before setting a client or tool timeout, GET /v1/apis/{sku} and inspect its trailing-30-day latency p50/p95/p99 and sample; p99 is an observation, not a maximum. To pay: send your AnyAPI key (Authorization: Bearer, billed from your USD wallet). For operations that advertise an inline rail, pay per call inline with x402 - call with no key, receive HTTP 402 with a PAYMENT-REQUIRED header, then retry with the PAYMENT-SIGNATURE header (base, no account needed); or pay per call inline with MPP (Machine Payments Protocol) - call with no key, receive HTTP 402 with a WWW-Authenticate: Payment challenge, then retry with the Authorization: Payment header (tempo, no account needed). x402 settles after execution; execution failure is reported as released; mpp settles before execution; execution failure is reported as charged_undelivered.'
servers:
- url: https://api.getanyapi.com
security:
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: Company
  x-group: Company
paths:
  /v1/run/company.research:
    post:
      description: 'Research a company from one domain, name, or email and return a cross-checked dossier: what it does, how it talks, who it competes with, its firmographics, its hiring and news signal, and its social presence.


        **Price:** \$443.38 per 1,000 requests (flat per request - same cost regardless of results returned).


        **Routing:** one lane serves this API today, so a failed attempt has nowhere to fail over to. Payment outcome follows the selected rail''s settlement policy.


        **Catalog:** Company Research pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every Company endpoint.


        **How it works:** AnyAPI researches the company itself rather than routing to a single upstream. It resolves the identifier to one apex domain, reads the company''s own site, then runs six independent parts: profile, voice, competitors, firmographics, signal and presence. Each part buys only the data it needs from the AnyAPI catalog, cross-checks claims across sources, and marks a value verified only when independent sources agree. Parts run and fail independently, so a dossier can come back partial. Results are cached per company and per part, so a repeat request reuses fresh work instead of re-buying it.'
      operationId: company_research
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Required. Owns one durable Request and provider dispatch. Active duplicates return the owning Request; completed successes replay without another charge; different semantics return 409.
        in: header
        name: Idempotency-Key
        required: true
        schema:
          maxLength: 255
          minLength: 1
          type: string
      - description: Use respond-async for immediate acceptance or wait=N to wait up to 90 seconds. The default wait is 10 seconds.
        in: header
        name: Prefer
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              domain: stripe.com
              maxAgeDays: 7
            schema:
              additionalProperties: false
              description: 'Supply exactly one company identifier: domain, name, or email. Every research part runs on every call.'
              example:
                domain: stripe.com
                maxAgeDays: 7
              oneOf:
              - required:
                - domain
              - required:
                - name
              - required:
                - email
              properties:
                domain:
                  description: Company website domain, for example stripe.com. Mutually exclusive with name and email.
                  minLength: 1
                  type: string
                email:
                  description: Work email address whose domain identifies the company. Free and disposable providers are rejected. Mutually exclusive with domain and name.
                  minLength: 1
                  type: string
                maxAgeDays:
                  default: 7
                  description: How old a cached part may be and still be served. 0 always forces a fresh run. Defaults to 7 days when omitted.
                  minimum: 0
                  type: integer
                name:
                  description: Company name, resolved to a domain before the run starts. Mutually exclusive with domain and email.
                  minLength: 1
                  type: string
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
              title: Company Research input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          description: 'The company dossier: one payload per research part, keyed by part name. Parts run and fail independently, so any part may be absent and none is required. An absent part is one that did not complete, never a company with no such data.'
                          properties:
                            competitors:
                              description: Companies the run admitted as rivals or adjacent players, each grounded in a page it read.
                              properties:
                                competitors:
                                  $ref: '#/components/schemas/company_research_competitorListClaim'
                                  description: The admitted competitor set.
                                positioningSummary:
                                  $ref: '#/components/schemas/company_research_stringClaim'
                                  description: One-line positioning read across the admitted competitors.
                              required:
                              - competitors
                              - positioningSummary
                              type: object
                            firmographics:
                              description: Company facts reconciled across enrichment providers. A value backed by two agreeing providers is reported as verified.
                              properties:
                                founded:
                                  $ref: '#/components/schemas/company_research_integerClaim'
                                  description: Year the company was founded. 0 when no provider supplied one.
                                funding:
                                  $ref: '#/components/schemas/company_research_fundingClaim'
                                  description: Disclosed funding, reconciled across providers.
                                headcount:
                                  $ref: '#/components/schemas/company_research_integerClaim'
                                  description: Employee count. 0 when no provider supplied one.
                                keyPeople:
                                  $ref: '#/components/schemas/company_research_keyPersonListClaim'
                                  description: Leadership records, masked to a first name and a last initial.
                                techStack:
                                  $ref: '#/components/schemas/company_research_stringListClaim'
                                  description: Technologies detected at the company.
                              required:
                              - founded
                              - headcount
                              - funding
                              - techStack
                              - keyPeople
                              type: object
                            presence:
                              description: The company's published social accounts and the public places it is discussed.
                              properties:
                                accounts:
                                  $ref: '#/components/schemas/company_research_platformPresenceListClaim'
                                  description: One entry per platform the company publishes on.
                                communities:
                                  $ref: '#/components/schemas/company_research_communityListClaim'
                                  description: Public communities where matching company discussion appeared.
                              required:
                              - accounts
                              - communities
                              type: object
                            profile:
                              description: What the company does, synthesized from its own site, plus the clipped crawl corpus the other crawl-derived parts reuse.
                              properties:
                                audiences:
                                  $ref: '#/components/schemas/company_research_stringListClaim'
                                  description: Audiences the company addresses on its site.
                                basics:
                                  $ref: '#/components/schemas/company_research_companyBasics'
                                brandAliases:
                                  $ref: '#/components/schemas/company_research_stringListClaim'
                                  description: Other names the company trades under.
                                corpus:
                                  $ref: '#/components/schemas/company_research_crawlCorpus'
                                description:
                                  $ref: '#/components/schemas/company_research_stringClaim'
                                  description: Plain description of what the company sells.
                                exclusions:
                                  $ref: '#/components/schemas/company_research_stringClaim'
                                  description: Who or what the company states it is not for.
                                howItWorks:
                                  $ref: '#/components/schemas/company_research_stringClaim'
                                  description: How the product or service works in practice.
                                icp:
                                  $ref: '#/components/schemas/company_research_icpListClaim'
                                  description: Buyer segments synthesized from the crawl.
                                pricingModel:
                                  $ref: '#/components/schemas/company_research_stringClaim'
                                  description: How the company charges, as its own pages describe it.
                                problems:
                                  $ref: '#/components/schemas/company_research_stringListClaim'
                                  description: Problems the company says it solves.
                                targetMarkets:
                                  $ref: '#/components/schemas/company_research_stringListClaim'
                                  description: Markets, industries, or regions the company targets.
                                useCases:
                                  $ref: '#/components/schemas/company_research_stringListClaim'
                                  description: Concrete jobs customers hire the company for.
                                valueProp:
                                  $ref: '#/components/schemas/company_research_stringClaim'
                                  description: The value the company promises its buyer.
                              required:
                              - basics
                              - description
                              - howItWorks
                              - valueProp
                              - useCases
                              - audiences
                              - icp
                              - problems
                              - exclusions
                              - targetMarkets
                              - brandAliases
                              - pricingModel
                              - corpus
                              type: object
                            signal:
                              description: 'What the company is doing right now: the roles it is hiring for and the stories written about it.'
                              properties:
                                articles:
                                  $ref: '#/components/schemas/company_research_newsArticleListClaim'
                                  description: Recent stories, deduplicated by article URL.
                                openRoles:
                                  $ref: '#/components/schemas/company_research_openRoleListClaim'
                                  description: Current job postings, deduplicated by posting URL.
                              required:
                              - openRoles
                              - articles
                              type: object
                            voice:
                              description: The company's writing voice, inferred from the same first-party crawl.
                              properties:
                                taglines:
                                  $ref: '#/components/schemas/company_research_stringListClaim'
                                  description: Taglines copied verbatim from the crawl. A tagline appears here only when its exact text was found on a crawled page.
                                tone:
                                  $ref: '#/components/schemas/company_research_stringClaim'
                                  description: One concise description of how the company writes.
                                vocabulary:
                                  $ref: '#/components/schemas/company_research_stringListClaim'
                                  description: Words and phrases the company favors, as they appear in the crawl.
                              required:
                              - tone
                              - taglines
                              - vocabulary
                              type: object
                          type: object
                        found:
                          description: True when at least one part produced a payload.
                          type: boolean
                      required:
                      - found
                      - data
                      title: Company Research output
                      type: object
                      x-anyapi-beta: true
                      x-anyapi-how-it-works: 'AnyAPI researches the company itself rather than routing to a single upstream. It resolves the identifier to one apex domain, reads the company''s own site, then runs six independent parts: profile, voice, competitors, firmographics, signal and presence. Each part buys only the data it needs from the AnyAPI catalog, cross-checks claims across sources, and marks a value verified only when independent sources agree. Parts run and fail independently, so a dossier can come back partial. Results are cached per company and per part, so a repeat request reuses fresh work instead of re-buying it.'
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestSnapshot'
          description: Accepted as a durable Request; poll Location after Retry-After.
          headers:
            Location:
              schema:
                type: string
            Preference-Applied:
              schema:
                enum:
                - respond-async
                type: string
            Retry-After:
              schema:
                type: integer
            X-Anyapi-Request-Id:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
          description: Insufficient wallet balance or spend cap. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The durable Request reached its execution deadline; use X-Anyapi-Request-Id for status and support.
      summary: Company Research
      tags:
      - Company
      x-anyapi-availability: beta
      x-mint:
        href: /api-reference/company/research
components:
  schemas:
    company_research_stringListClaim:
      allOf:
      - $ref: '#/components/schemas/company_research_claim'
      description: A claim whose value is a list of strings.
      properties:
        value:
          items:
            type: string
          type: array
    company_research_keyPersonListClaim:
      allOf:
      - $ref: '#/components/schemas/company_research_claim'
      properties:
        value:
          items:
            $ref: '#/components/schemas/company_research_keyPerson'
          type: array
    company_research_community:
      description: One public place where matching company discussion appeared.
      properties:
        name:
          description: Community name.
          type: string
        platform:
          description: Platform hosting the community.
          type: string
        whyRelevant:
          description: The discussion that put this community in the result.
          type: string
      required:
      - platform
      - name
      - whyRelevant
      type: object
    company_research_competitorListClaim:
      allOf:
      - $ref: '#/components/schemas/company_research_claim'
      properties:
        value:
          items:
            $ref: '#/components/schemas/company_research_competitorProfile'
          type: array
    company_research_claimEvidence:
      description: One public source that grounds a claim.
      properties:
        capturedAt:
          description: RFC 3339 UTC time at which the part that produced this claim ran.
          format: date-time
          type: string
        excerpt:
          description: Bounded excerpt of the source text.
          type: string
        kind:
          $ref: '#/components/schemas/company_research_evidenceKind'
        url:
          description: Canonical URL of the source.
          format: uri
          type: string
      required:
      - url
      - excerpt
      - capturedAt
      type: object
    company_research_openRole:
      description: One current company job posting.
      properties:
        location:
          description: City, state, and country joined with commas.
          type: string
        postedUtc:
          description: UTC epoch timestamp in seconds (Unix time) at which the role was posted. Multiply by 1000 for a JS Date in milliseconds.
          type: number
        title:
          description: Role title.
          type: string
        url:
          description: Posting URL.
          format: uri
          type: string
      required:
      - title
      - location
      - url
      - postedUtc
      type: object
    RequestSnapshot:
      properties:
        completedAt:
          format: date-time
          type: string
        createdAt:
          format: date-time
          type: string
        error:
          properties:
            code:
              type: string
          required:
          - code
          type: object
        expiresAt:
          format: date-time
          type: string
        requestId:
          format: uuid
          type: string
        result:
          properties:
            costUsd:
              description: USD charged on the ORIGINAL run, echoed for envelope parity; this re-read is free.
              type: number
            items:
              description: Number of result rows returned by the original run.
              type: integer
            jqError:
              description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
              type: string
            output:
              description: The normalized result (`{found, data}` by default), re-shaped by any fields/max_items/summary/jq params. Open shape - a jq expression may replace it with an array or scalar.
            provider:
              description: Always "AnyAPI".
              type: string
            replayed:
              description: False on this cached-result endpoint; true is reserved for durable idempotency replays from POST /v1/run/{sku}.
              type: boolean
            resultId:
              description: The id you requested, echoed so you can keep re-reading the same cached result.
              type: string
          required:
          - output
          - provider
          - costUsd
          - items
          - replayed
          type: object
        resultExpired:
          type: boolean
        retryAfterSeconds:
          minimum: 1
          type: integer
        serviceOutcome:
          description: End-to-end AnyAPI service result when known; independent of payment settlement.
          enum:
          - served
          - valid_negative
          - caller_error
          - service_failure
          - rejected
          type: string
        settlementState:
          description: Payment settlement state when known; independent of request lifecycle status.
          enum:
          - not_required
          - pending
          - settled
          - reconcile
          - charged_undelivered
          - writeoff
          type: string
        sku:
          type: string
        status:
          enum:
          - queued
          - running
          - succeeded
          - failed
          - expired
          type: string
      required:
      - requestId
      - sku
      - status
      - createdAt
      type: object
    company_research_crawlCorpus:
      description: The reusable homepage and interior-page reads the crawl-derived parts share.
      properties:
        homepage:
          description: The company homepage, or null when the run could not read it.
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/company_research_crawlPage'
        interiorPages:
          description: Interior pages the run paid to read.
          items:
            $ref: '#/components/schemas/company_research_crawlPage'
          type: array
      required:
      - homepage
      - interiorPages
      type: object
    company_research_socialHandle:
      description: One account as a link scan sees it. It carries no audience, because a link on a page proves an account exists and says nothing about how big it is.
      properties:
        handle:
          description: Account handle on that platform.
          type: string
        platform:
          description: Platform the account belongs to.
          type: string
        url:
          description: Account URL.
          format: uri
          type: string
      required:
      - platform
      - handle
      - url
      type: object
    company_research_newsArticleListClaim:
      allOf:
      - $ref: '#/components/schemas/company_research_claim'
      properties:
        value:
          items:
            $ref: '#/components/schemas/company_research_newsArticle'
          type: array
    company_research_communityListClaim:
      allOf:
      - $ref: '#/components/schemas/company_research_claim'
      properties:
        value:
          items:
            $ref: '#/components/schemas/company_research_community'
          type: array
    company_research_crawlPage:
      description: One clipped first-party page read, retained so dependent parts do not re-buy it.
      properties:
        description:
          description: Page meta description.
          type: string
        links:
          $ref: '#/components/schemas/company_research_pageLinks'
        markdown:
          description: Clipped page text in markdown.
          type: string
        title:
          description: Page title.
          type: string
        url:
          description: Page URL as read.
          format: uri
          type: string
      required:
      - url
      - title
      - description
      - markdown
      - links
      type: object
    company_research_companyLinks:
      description: Customer-useful first-party pages found in the crawl. A field is an empty string when the crawl linked no such page.
      properties:
        blog:
          description: Blog URL.
          type: string
        careers:
          description: Careers or jobs page URL.
          type: string
        contact:
          description: Contact page URL.
          type: string
        docs:
          description: Documentation URL.
          type: string
        pricing:
          description: Pricing or plans page URL.
          type: string
      required:
      - careers
      - pricing
      - blog
      - docs
      - contact
      type: object
    TrialCapReached:
      properties:
        error:
          const: trial_cap_reached
          type: string
        message:
          description: Human-relayable continuation instructions, including an executable token poll.
          type: string
        upgrade:
          $ref: '#/components/schemas/AgentUpgrade'
      required:
      - error
      - message
      - upgrade
      type: object
    Error:
      properties:
        code:
          description: Stable machine-readable error code when the endpoint defines one.
          type: string
        error:
          description: Customer-safe error message.
          type: string
        payment:
          $ref: '#/components/schemas/Payment'
        requestId:
          description: This run's AnyAPI request id, the same value as the X-Anyapi-Request-Id response header. Quote it to support. Absent on endpoints that do not execute a run.
          format: uuid
          type: string
      required:
      - error
      type: object
    company_research_companyBasics:
      description: Plain crawl-derived identity values, taken from the pages themselves rather than synthesized.
      properties:
        canonicalName:
          description: Company name derived from the homepage title, or from the domain when no title was read.
          type: string
        domain:
          description: Domain the run researched.
          type: string
        links:
          $ref: '#/components/schemas/company_research_companyLinks'
        socials:
          description: Social account URLs linked from the crawled pages.
          items:
            format: uri
            type: string
          type: array
        websiteTitle:
          description: Homepage title exactly as served.
          type: string
      required:
      - domain
      - canonicalName
      - websiteTitle
      - socials
      - links
      type: object
    company_research_platformPresenceListClaim:
      allOf:
      - $ref: '#/components/schemas/company_research_claim'
      properties:
        value:
          items:
            $ref: '#/components/schemas/company_research_platformPresence'
          type: array
    company_research_fundingClaim:
      allOf:
      - $ref: '#/components/schemas/company_research_claim'
      properties:
        value:
          $ref: '#/components/schemas/company_research_fundingSummary'
    AgentUpgrade:
      properties:
        authorizationServer:
          format: uri
          type: string
        clientId:
          type: string
        device:
          $ref: '#/components/schemas/DeviceUpgrade'
        scope:
          type: string
      required:
      - authorizationServer
      - scope
      type: object
    company_research_icpListClaim:
      allOf:
      - $ref: '#/components/schemas/company_research_claim'
      properties:
        value:
          items:
            $ref: '#/components/schemas/company_research_icpProfile'
          type: array
    company_research_keyPerson:
      description: One leadership record, masked for customer output.
      properties:
        firstName:
          description: First name.
          type: string
        lastNameInitial:
          description: Upper-case initial of the last name.
          type: string
        title:
          description: Job title.
          type: string
      required:
      - title
      - firstName
      - lastNameInitial
      type: object
    company_research_pageLinks:
      description: One page's outbound links, classified before the markdown was clipped.
      properties:
        site:
          $ref: '#/components/schemas/company_research_companyLinks'
        socials:
          description: Social accounts linked from this page.
          items:
            $ref: '#/components/schemas/company_research_socialHandle'
          type: array
      required:
      - socials
      - site
      type: object
    company_research_competitorProfile:
      description: One admitted competitor.
      properties:
        domain:
          description: Competitor domain.
          type: string
        evidence:
          description: Pages that ground this competitor. Empty when the run admitted it without reading its own page.
          items:
            $ref: '#/components/schemas/company_research_claimEvidence'
          type: array
        name:
          description: Competitor name, or its domain when no page title was read.
          type: string
        positioning:
          description: Why the run classified it that way.
          type: string
        relationship:
          description: How the run classified this company against the researched one.
          enum:
          - competitor
          - adjacent
          - not_competitor
          - unknown
          type: string
      required:
      - name
      - domain
      - relationship
      - positioning
      - evidence
      type: object
    company_research_newsArticle:
      description: One recent company story.
      properties:
        matchConfidence:
          description: 1 when the article's domain or organization ids join to the researched company, 0 when nothing joined.
          maximum: 1
          minimum: 0
          type: number
        publishedUtc:
          description: UTC epoch timestamp in seconds (Unix time) at which the article was published. Multiply by 1000 for a JS Date in milliseconds.
          type: number
        storyId:
          description: Stable identity used to deduplicate the story.
          type: string
        title:
          description: Article title.
          type: string
        type:
          description: Story class derived from the provider's event categories.
          enum:
          - editorial
          - press_release
          - regulatory_filing
          type: string
        url:
          description: Article URL.
          format: uri
          type: string
      required:
      - url
      - title
      - publishedUtc
      - type
      - matchConfidence
      - storyId
      type: object
    company_research_evidenceKind:
      description: 'Source class of the evidence row: the company homepage, an interior page of its site, a search result, a competitor''s own page, or a catalog provider record.'
      enum:
      - homepage
      - site
      - search
      - competitor
      - provider
      type: string
    company_research_fundingSummary:
      description: Normalized public funding record. An all-zero record means no provider disclosed funding.
      properties:
        latestFundingUtc:
          description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
          type: number
        latestStage:
          description: Latest disclosed funding stage.
          type: string
        rounds:
          description: Number of disclosed funding rounds.
          type: integer
        totalUsd:
          description: Total disclosed funding in USD.
          type: number
      required:
      - totalUsd
      - latestStage
      - latestFundingUtc
      - rounds
      type: object
    DeviceUpgrade:
      properties:
        deviceCode:
          type: string
        expiresIn:
          minimum: 0
          type: integer
        grantType:
          type: string
        interval:
          minimum: 1
          type: integer
        tokenEndpoint:
          format: uri
          type: string
        userCode:
          type: string
        verificationUri:
          format: uri
          type: string
        verificationUriComplete:
          format: uri
          type: string
      required:
      - verificationUriComplete
      - verificationUri
      - userCode
      - deviceCode
      - tokenEndpoint
      - grantType
      - interval
      - expiresIn
      type: object
    company_research_icpProfile:
      description: One buyer segment synthesized from the crawl.
      properties:
        buyingTrigger:
          description: What makes that segment start looking.
          type: string
        companyType:
          description: The kind of company that role works at.
          type: string
        pains:
          description: Pains that segment feels.
          items:
            type: string
          type: array
        persona:
          description: The buying role.
          type: string
      required:
      - persona
      - companyType
      - pains
      - buyingTrigger
      type: object
    company_research_stringClaim:
      allOf:
      - $ref: '#/components/schemas/company_research_claim'
      description: A claim whose value is text. An empty string means the run found no supported answer.
      properties:
        value:
          type: string
    company_research_openRoleListClaim:
      allOf:
      - $ref: '#/components/schemas/company_research_claim'
      properties:
        value:
          items:
            $ref: '#/components/schemas/company_research_openRole'
          type: array
    company_research_platformPresence:
      description: Everything the company runs on one platform. There is exactly one primary because the field is not a list, and secondary holds any number.
      properties:
        platform:
          description: Platform name.
          type: string
        primary:
          $ref: '#/components/schemas/company_research_socialAccount'
        secondary:
          description: Further accounts the company runs on the same platform, such as regional ones.
          items:
            $ref: '#/components/schemas/company_research_socialAccount'
          type: array
      required:
      - platform
      - primary
      - secondary
      type: object
    Payment:
      properties:
        costUsd:
          description: Known USD payment amount for this request.
          minimum: 0
          type: number
        rail:
          minLength: 1
          type: string
        settlementState:
          enum:
          - charged_undelivered
          - indeterminate
          type: string
      required:
      - rail
      - settlementState
      - costUsd
      type: object
    PaymentRequiredError:
      allOf:
      - $ref: '#/components/schemas/Error'
      - properties:
          error:
            not:
              const: trial_cap_reached
        type: object
    company_research_claim:
      description: The value, provenance, and evidence envelope every research field is wrapped in.
      properties:
        evidence:
          description: Sources that ground the value. Empty when nothing the run read grounds it.
          items:
            $ref: '#/components/schemas/company_research_claimEvidence'
          type: array
        provenance:
          $ref: '#/components/schemas/company_research_provenance'
        value: true
      required:
      - value
      - provenance
      - evidence
      type: object
    company_research_integerClaim:
      allOf:
      - $ref: '#/components/schemas/company_research_claim'
      description: A claim whose value is a whole number. 0 means no provider supplied one.
      properties:
        value:
          type: integer
    company_research_provenance:
      description: verified means the run read a page cited by this claim. inferred means no page the run read grounds it.
      enum:
      - verified
      - inferred
      type: string
    company_research_socialAccount:
      description: One published company account. The audience fields come from a paid read of the account itself and are absent when the run did not buy one, so a missing follower count is not zero.
      properties:
        displayName:
          description: Account display name.
          type: string
        followers:
          description: Follower count at the time of the read.
          type: integer
        handle:
          description: Account handle.
          type: string
        url:
          description: Account URL.
          format: uri
          type: string
        verified:
          description: Whether the platform marks the account verified.
          type: boolean
      required:
      - handle
      - url
      type: object
  securitySchemes:
    apiKeyAuth:
      description: Your AnyAPI key.
      in: header
      name: X-API-Key
      type: apiKey
      x-default: YOUR_ANYAPI_KEY
    bearerAuth:
      description: Your AnyAPI key as a Bearer token.
      scheme: bearer
      type: http
      x-default: YOUR_ANYAPI_KEY
