openapi: 3.2.0
info:
  contact:
    email: support@getanyapi.com
  description: 'Any API, one wallet, USD, no subscriptions. Each API is a single discovered operation: send the normalized input, get a normalized result. Prices and payment outcomes are reported in USD; each operation documents the settlement policy for its enabled payment rails.'
  title: Any Twitter API
  version: 1.0.0
  x-guidance: 'Use each operation''s published method and path with its normalized JSON input (see the operation requestBody). Before setting a client or tool timeout, GET /v1/apis/{sku} and inspect its trailing-30-day latency p50/p95/p99 and sample; p99 is an observation, not a maximum. To pay: send your AnyAPI key (Authorization: Bearer, billed from your USD wallet). For operations that advertise an inline rail, pay per call inline with x402 - call with no key, receive HTTP 402 with a PAYMENT-REQUIRED header, then retry with the PAYMENT-SIGNATURE header (base, no account needed); or pay per call inline with MPP (Machine Payments Protocol) - call with no key, receive HTTP 402 with a WWW-Authenticate: Payment challenge, then retry with the Authorization: Payment header (tempo, no account needed). x402 settles after execution; execution failure is reported as released; mpp settles before execution; execution failure is reported as charged_undelivered.'
servers:
- url: https://api.getanyapi.com
security:
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: Twitter
  x-group: X (Twitter)
paths:
  /v1/run/twitter.article:
    post:
      description: 'Get a public X long-form article from its wrapper post URL, including its author, engagement, cover image, and structured content blocks.


        **Price:** \$0.75 per 1,000 requests (flat per request - same cost regardless of results returned).


        **Routing:** one lane serves this API today, so a failed attempt has nowhere to fail over to. Payment outcome follows the selected rail''s settlement policy.


        **Catalog:** X / Twitter Article pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every X (Twitter) endpoint.'
      operationId: twitter_article
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              url: https://x.com/Decentralisedco/status/1905545699552375179
            schema:
              additionalProperties: false
              example:
                url: https://x.com/Decentralisedco/status/1905545699552375179
              properties:
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
                url:
                  description: Canonical x.com or twitter.com URL of the public wrapper post for an X Article.
                  pattern: ^https?://(?:(?:www|mobile)\.)?(?:x\.com|twitter\.com)/(?:[A-Za-z0-9_]+|i/web)/status/[0-9]+/?(?:[?#].*)?$
                  type: string
              required:
              - url
              title: X / Twitter Article input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          description: Normalized public article, or null when the wrapper post is not an article.
                          oneOf:
                          - type: 'null'
                          - additionalProperties: false
                            properties:
                              author:
                                description: Article author profile at retrieval time. Populated whenever the provider has data for the entity.
                                properties:
                                  avatarUrl:
                                    description: Profile avatar image URL.
                                    format: uri
                                    type: string
                                  bio:
                                    description: Profile biography.
                                    type: string
                                  blueVerified:
                                    description: Whether the account has X blue verification.
                                    type: boolean
                                  coverUrl:
                                    description: Profile cover image URL when available.
                                    format: uri
                                    type: string
                                  createdUtc:
                                    description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                    type: number
                                  followers:
                                    description: Follower count at retrieval time.
                                    minimum: 0
                                    type: integer
                                  following:
                                    description: Following count at retrieval time.
                                    minimum: 0
                                    type: integer
                                  handle:
                                    description: Current X handle without @. Populated whenever the provider has data for the entity.
                                    type: string
                                    x-anyapi-must-populate: true
                                  id:
                                    description: Stable numeric X user ID. Populated whenever the provider has data for the entity.
                                    type: string
                                    x-anyapi-must-populate: true
                                  location:
                                    description: Self-reported profile location.
                                    type: string
                                  name:
                                    description: Profile display name.
                                    type: string
                                  url:
                                    description: Canonical public X profile URL. Populated whenever the provider has data for the entity.
                                    format: uri
                                    type: string
                                    x-anyapi-must-populate: true
                                  verified:
                                    description: Whether the account has legacy verification.
                                    type: boolean
                                required:
                                - id
                                - handle
                                - url
                                type: object
                                x-anyapi-must-populate: true
                              contentBlocks:
                                description: Ordered, explicitly normalized article blocks. Unknown future block types remain representable through type and optional fields. Populated whenever the provider has data for the entity.
                                items:
                                  properties:
                                    entities:
                                      description: Entity references within the block text.
                                      items:
                                        properties:
                                          key:
                                            description: Upstream entity table key.
                                            minimum: 0
                                            type: integer
                                          length:
                                            description: Entity character length.
                                            minimum: 0
                                            type: integer
                                          offset:
                                            description: Zero-based character offset.
                                            minimum: 0
                                            type: integer
                                        required:
                                        - key
                                        - offset
                                        - length
                                        type: object
                                      type: array
                                    height:
                                      description: Image height in pixels when supplied.
                                      minimum: 0
                                      type: integer
                                    image:
                                      description: Canonical image URL for an image block.
                                      format: uri
                                      type: string
                                    inlineStyles:
                                      description: Formatting ranges within the block text.
                                      items:
                                        properties:
                                          length:
                                            description: Formatted character length.
                                            minimum: 0
                                            type: integer
                                          offset:
                                            description: Zero-based character offset.
                                            minimum: 0
                                            type: integer
                                          style:
                                            description: Inline style name reported by X.
                                            type: string
                                        required:
                                        - style
                                        - offset
                                        - length
                                        type: object
                                      type: array
                                    text:
                                      description: Text content for a text-bearing block.
                                      type: string
                                    type:
                                      description: Block type reported by X, such as unstyled, header-two, image, divider, blockquote, or list item. Populated whenever the provider has data for the entity.
                                      type: string
                                      x-anyapi-must-populate: true
                                    width:
                                      description: Image width in pixels when supplied.
                                      minimum: 0
                                      type: integer
                                  required:
                                  - type
                                  type: object
                                type: array
                                x-anyapi-must-populate: true
                              coverImage:
                                description: Canonical article cover image URL when available.
                                format: uri
                                type: string
                              createdUtc:
                                description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. Populated whenever the provider has data for the entity.
                                type: number
                                x-anyapi-must-populate: true
                              id:
                                description: Stable X Article entity ID. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              likes:
                                description: Wrapper post like count at retrieval time.
                                minimum: 0
                                type: integer
                              previewText:
                                description: Preview text supplied by X.
                                type: string
                              quotes:
                                description: Wrapper post quote count at retrieval time.
                                minimum: 0
                                type: integer
                              replies:
                                description: Wrapper post reply count at retrieval time.
                                minimum: 0
                                type: integer
                              title:
                                description: Article title. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              views:
                                description: Wrapper post view count at retrieval time.
                                minimum: 0
                                type: integer
                            required:
                            - id
                            - title
                            - createdUtc
                            - author
                            - contentBlocks
                            type: object
                        found:
                          description: True when the wrapper post contains a public X Article.
                          type: boolean
                      required:
                      - found
                      - data
                      title: X / Twitter Article output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: X / Twitter Article
      tags:
      - Twitter
      x-mint:
        href: /api-reference/x-twitter/article
      x-payment-info:
        price:
          amount: '0.000750'
          currency: USD
          mode: fixed
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            amount: '0.001000'
            currency: USD
            minimumUsd: '0.001000'
            mode: fixed
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            amount: '0.000750'
            currency: USD
            minimumUsd: null
            mode: fixed
            quoteBasis: funded_ceiling
          protocol:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
          rail: mpp
          settlement:
            onExecutionFailure: charged_undelivered
            onVerificationError: indeterminate
            timing: before_execution
  /v1/run/twitter.community:
    post:
      description: 'Fetch a Twitter/X community''s public details (name, description, member count, join policy) by URL.


        **Price:** \$0.18 per 1,000 requests (flat per request - same cost regardless of results returned).


        **Routing:** 3 independent lanes are available in execution order. A failed attempt uses the next lane only when the request''s payment authorizes that lane''s price; the normalized schema stays the same.


        **Catalog:** Twitter Community pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every X (Twitter) endpoint.'
      operationId: twitter_community
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              url: https://x.com/i/communities/1926186499399139650
            schema:
              additionalProperties: false
              example:
                url: https://x.com/i/communities/1926186499399139650
              properties:
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
                url:
                  description: Community URL (e.g. https://x.com/i/communities/1926186499399139650).
                  type: string
              required:
              - url
              title: Twitter Community input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          description: The community record, or null when nothing was found.
                          oneOf:
                          - type: 'null'
                          - properties:
                              createdUtc:
                                description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                type: number
                              creatorHandle:
                                description: Handle of the account that created the community. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              description:
                                description: Community description text. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              id:
                                description: Community identifier. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              joinPolicy:
                                description: How members join, e.g. "open" or "restricted". Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                              memberCount:
                                description: Number of members in the community.
                                type: integer
                              name:
                                description: Community name. Populated whenever the provider has data for the entity.
                                type: string
                                x-anyapi-must-populate: true
                            required:
                            - id
                            - name
                            - description
                            - memberCount
                            - joinPolicy
                            - createdUtc
                            - creatorHandle
                            type: object
                        found:
                          description: True when the community was found; false when the lookup returned nothing.
                          type: boolean
                      required:
                      - found
                      - data
                      title: Twitter Community output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: Twitter Community
      tags:
      - Twitter
      x-mint:
        href: /api-reference/x-twitter/community
      x-payment-info:
        price:
          currency: USD
          max: '0.003600'
          min: '0.000180'
          mode: dynamic
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            currency: USD
            max: '0.003600'
            min: '0.001000'
            minimumUsd: '0.001000'
            mode: dynamic
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            currency: USD
            max: '0.003600'
            min: '0.000180'
            minimumUsd: null
            mode: dynamic
            quoteBasis: funded_ceiling
          protocol:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
          rail: mpp
          settlement:
            onExecutionFailure: charged_undelivered
            onVerificationError: indeterminate
            timing: before_execution
  /v1/run/twitter.community_tweets:
    post:
      description: 'List recent tweets posted in a Twitter/X community by URL.


        **Price:** \$0.50 per 1,000 requests (flat per request - same cost regardless of results returned).


        **Routing:** 4 independent lanes are available in execution order. A failed attempt uses the next lane only when the request''s payment authorizes that lane''s price; the normalized schema stays the same.


        **Catalog:** Twitter Community Tweets pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every X (Twitter) endpoint.'
      operationId: twitter_community_tweets
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              url: https://x.com/i/communities/1926186499399139650
            schema:
              additionalProperties: false
              example:
                url: https://x.com/i/communities/1926186499399139650
              properties:
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
                url:
                  description: Community URL (e.g. https://x.com/i/communities/1926186499399139650).
                  type: string
              required:
              - url
              title: Twitter Community Tweets input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          oneOf:
                          - type: 'null'
                          - additionalProperties: false
                            properties:
                              tweets:
                                description: Populated whenever the provider has data for the entity.
                                items:
                                  properties:
                                    authorHandle:
                                      description: Populated whenever the provider has data for the entity.
                                      type: string
                                      x-anyapi-must-populate: true
                                    createdUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. Populated whenever the provider has data for the entity.
                                      type: number
                                      x-anyapi-must-populate: true
                                    favoriteCount:
                                      type: integer
                                    id:
                                      description: Populated whenever the provider has data for the entity.
                                      type: string
                                      x-anyapi-must-populate: true
                                    quoteCount:
                                      type: integer
                                    replyCount:
                                      type: integer
                                    retweetCount:
                                      type: integer
                                    text:
                                      description: Populated whenever the provider has data for the entity.
                                      type: string
                                      x-anyapi-must-populate: true
                                  required:
                                  - id
                                  - text
                                  - createdUtc
                                  - favoriteCount
                                  - replyCount
                                  - retweetCount
                                  - quoteCount
                                  - authorHandle
                                  type: object
                                type: array
                                x-anyapi-must-populate: true
                            required:
                            - tweets
                            type: object
                        found:
                          type: boolean
                      required:
                      - found
                      - data
                      title: Twitter Community Tweets output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: Twitter Community Tweets
      tags:
      - Twitter
      x-mint:
        href: /api-reference/x-twitter/community-tweets
      x-payment-info:
        price:
          currency: USD
          max: '0.003780'
          min: '0.000500'
          mode: dynamic
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            currency: USD
            max: '0.003780'
            min: '0.001000'
            minimumUsd: '0.001000'
            mode: dynamic
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            currency: USD
            max: '0.003780'
            min: '0.000500'
            minimumUsd: null
            mode: dynamic
            quoteBasis: funded_ceiling
          protocol:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
          rail: mpp
          settlement:
            onExecutionFailure: charged_undelivered
            onVerificationError: indeterminate
            timing: before_execution
  /v1/run/twitter.followers:
    post:
      description: 'Fetch the follower list of any public X (Twitter) account by username with cursor pagination. Limit is a per-page maximum; native pages contain up to 200 accounts unless requireSinglePage selects a bulk lane.


        **Price:** \$0.75 per 1,000 requests (flat per request - same cost regardless of results returned).


        **Routing:** 2 independent lanes are available in execution order. A failed attempt uses the next lane only when the request''s payment authorizes that lane''s price; the normalized schema stays the same.


        **Catalog:** X / Twitter Followers pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every X (Twitter) endpoint.'
      operationId: twitter_followers
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              limit: 200
              username: nasa
            schema:
              additionalProperties: false
              example:
                limit: 200
                username: nasa
              properties:
                cursor:
                  description: Opaque pagination cursor from a previous response's nextCursor. Omit for the first page; pass it to fetch the next page of followers.
                  type: string
                limit:
                  default: 200
                  description: Per-page maximum number of followers to return (1-100000, default 200). A provider may return a smaller native page; follow nextCursor for more.
                  maximum: 100000
                  minimum: 1
                  type: integer
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
                requireSinglePage:
                  description: Set true to get up to limit followers in one response instead of provider-native pages, served by a bulk provider when needed.
                  type: boolean
                username:
                  description: The X (Twitter) username to fetch followers for, without the @ prefix (e.g. elonmusk).
                  type: string
              required:
              - username
              title: X / Twitter followers input
              type: object
              x-aliases:
                handle: username
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          oneOf:
                          - type: 'null'
                          - additionalProperties: false
                            properties:
                              items:
                                description: Follower records, normalized to a compact shape. Populated whenever the provider has data for the entity.
                                items:
                                  properties:
                                    avatarUrl:
                                      description: URL of the account's profile image (may be empty). Populated whenever the provider has data for the entity.
                                      type: string
                                      x-anyapi-must-populate: true
                                    bio:
                                      description: The account's profile bio/description.
                                      type: string
                                    followers:
                                      description: How many followers this account has.
                                      type: integer
                                    following:
                                      description: How many accounts this account follows.
                                      type: integer
                                    location:
                                      description: The account's self-reported location (may be empty).
                                      type: string
                                    name:
                                      description: The account's display name. Populated whenever the provider has data for the entity.
                                      type: string
                                      x-anyapi-must-populate: true
                                    username:
                                      description: The account's @ handle, without the @ prefix. Populated whenever the provider has data for the entity.
                                      type: string
                                      x-anyapi-must-populate: true
                                    verified:
                                      description: Whether the account is verified.
                                      type: boolean
                                  required:
                                  - username
                                  - name
                                  - bio
                                  - followers
                                  - following
                                  - verified
                                  - location
                                  - avatarUrl
                                  type: object
                                type: array
                                x-anyapi-must-populate: true
                              nextCursor:
                                description: Opaque cursor for the next page of followers, or null when there are no more. Pass it back as cursor to continue.
                                type:
                                - string
                                - 'null'
                            required:
                            - items
                            type: object
                        found:
                          type: boolean
                      required:
                      - found
                      - data
                      title: X / Twitter followers output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: X / Twitter Followers
      tags:
      - Twitter
      x-mint:
        href: /api-reference/x-twitter/followers
      x-payment-info:
        price:
          currency: USD
          max: '16.500000'
          min: '0.000750'
          mode: dynamic
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            currency: USD
            max: '16.500000'
            min: '0.001000'
            minimumUsd: '0.001000'
            mode: dynamic
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            currency: USD
            max: '16.500000'
            min: '0.000750'
            minimumUsd: null
            mode: dynamic
            quoteBasis: funded_ceiling
          protocol:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
          rail: mpp
          settlement:
            onExecutionFailure: charged_undelivered
            onVerificationError: indeterminate
            timing: before_execution
  /v1/run/twitter.following:
    post:
      description: 'List the accounts a public X (Twitter) account follows by username with cursor pagination. Limit is a per-page maximum; native pages contain up to 200 accounts unless requireSinglePage selects a bulk lane.


        **Price:** \$0.75 per 1,000 requests (flat per request - same cost regardless of results returned).


        **Routing:** 2 independent lanes are available in execution order. A failed attempt uses the next lane only when the request''s payment authorizes that lane''s price; the normalized schema stays the same.


        **Catalog:** X / Twitter Following pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every X (Twitter) endpoint.'
      operationId: twitter_following
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              limit: 200
              username: nasa
            schema:
              additionalProperties: false
              example:
                limit: 200
                username: nasa
              properties:
                cursor:
                  description: Opaque pagination cursor from a previous response's nextCursor. Omit for the first page; pass it to fetch the next page of followed accounts.
                  type: string
                limit:
                  default: 200
                  description: Per-page maximum number of followed accounts to return (1-100000, default 200). A provider may return a smaller native page; follow nextCursor for more.
                  maximum: 100000
                  minimum: 1
                  type: integer
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
                requireSinglePage:
                  description: Set true to get up to limit accounts in one response instead of provider-native pages, served by a bulk provider when needed.
                  type: boolean
                username:
                  description: The X (Twitter) username to fetch the following list for, without the @ prefix (e.g. elonmusk).
                  type: string
              required:
              - username
              title: X / Twitter following input
              type: object
              x-aliases:
                handle: username
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          oneOf:
                          - type: 'null'
                          - additionalProperties: false
                            properties:
                              items:
                                description: Followed-account records, normalized to a compact shape. Populated whenever the provider has data for the entity.
                                items:
                                  properties:
                                    avatarUrl:
                                      description: URL of the account's profile image (may be empty). Populated whenever the provider has data for the entity.
                                      type: string
                                      x-anyapi-must-populate: true
                                    bio:
                                      description: The account's profile bio/description.
                                      type: string
                                    followers:
                                      description: How many followers this account has.
                                      type: integer
                                    following:
                                      description: How many accounts this account follows.
                                      type: integer
                                    location:
                                      description: The account's self-reported location (may be empty).
                                      type: string
                                    name:
                                      description: The account's display name. Populated whenever the provider has data for the entity.
                                      type: string
                                      x-anyapi-must-populate: true
                                    username:
                                      description: The account's @ handle, without the @ prefix. Populated whenever the provider has data for the entity.
                                      type: string
                                      x-anyapi-must-populate: true
                                    verified:
                                      description: Whether the account is verified.
                                      type: boolean
                                  required:
                                  - username
                                  - name
                                  - bio
                                  - followers
                                  - following
                                  - verified
                                  - location
                                  - avatarUrl
                                  type: object
                                type: array
                                x-anyapi-must-populate: true
                              nextCursor:
                                description: Opaque cursor for the next page of followed accounts, or null when there are no more. Pass it back as cursor to continue.
                                type:
                                - string
                                - 'null'
                            required:
                            - items
                            type: object
                        found:
                          type: boolean
                      required:
                      - found
                      - data
                      title: X / Twitter following output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: X / Twitter Following
      tags:
      - Twitter
      x-mint:
        href: /api-reference/x-twitter/following
      x-payment-info:
        price:
          currency: USD
          max: '16.500000'
          min: '0.000750'
          mode: dynamic
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            currency: USD
            max: '16.500000'
            min: '0.001000'
            minimumUsd: '0.001000'
            mode: dynamic
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            currency: USD
            max: '16.500000'
            min: '0.000750'
            minimumUsd: null
            mode: dynamic
            quoteBasis: funded_ceiling
          protocol:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
          rail: mpp
          settlement:
            onExecutionFailure: charged_undelivered
            onVerificationError: indeterminate
            timing: before_execution
  /v1/run/twitter.profile:
    post:
      description: 'Fetch a Twitter/X account''s public profile (followers, tweets, bio, verification) by handle.


        **Price:** \$0.30 per 1,000 requests (flat per request - same cost regardless of results returned).


        **Routing:** 5 independent lanes are available in execution order. A failed attempt uses the next lane only when the request''s payment authorizes that lane''s price; the normalized schema stays the same.


        **Catalog:** Twitter Profile pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every X (Twitter) endpoint.'
      operationId: twitter_profile
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
[...]
