openapi: 3.2.0
info:
  contact:
    email: support@getanyapi.com
  description: 'Any API, one wallet, USD, no subscriptions. Each API is a single discovered operation: send the normalized input, get a normalized result. Prices and payment outcomes are reported in USD; each operation documents the settlement policy for its enabled payment rails.'
  title: Any People Search API
  version: 1.0.0
  x-guidance: 'Use each operation''s published method and path with its normalized JSON input (see the operation requestBody). Before setting a client or tool timeout, GET /v1/apis/{sku} and inspect its trailing-30-day latency p50/p95/p99 and sample; p99 is an observation, not a maximum. To pay: send your AnyAPI key (Authorization: Bearer, billed from your USD wallet). For operations that advertise an inline rail, pay per call inline with x402 - call with no key, receive HTTP 402 with a PAYMENT-REQUIRED header, then retry with the PAYMENT-SIGNATURE header (base, no account needed); or pay per call inline with MPP (Machine Payments Protocol) - call with no key, receive HTTP 402 with a WWW-Authenticate: Payment challenge, then retry with the Authorization: Payment header (tempo, no account needed). x402 settles after execution; execution failure is reported as released; mpp settles before execution; execution failure is reported as charged_undelivered.'
servers:
- url: https://api.getanyapi.com
security:
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: People Search
  x-group: People_search
paths:
  /v1/run/people_search.ai_ark:
    post:
      description: 'Search professional profiles with account, contact, and saved-list filters.


        **Price:** billed per result - \$8.40 per 1,000 results, capped at \$840.00 per 1,000 requests.


        **Routing:** one lane serves this API today, so a failed attempt has nowhere to fail over to. Payment outcome follows the selected rail''s settlement policy.


        **Catalog:** People Search - AI Ark pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every People_search endpoint.'
      operationId: people_search_ai_ark
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              page: 0
              size: 1
            schema:
              additionalProperties: false
              example:
                page: 0
                size: 1
              properties:
                account:
                  additionalProperties: true
                  description: 'Company-level filters, keyed by filter name. Accepted names: domain, employeeSize, foundedYear, funding, geoLocation, industries, keyword, language, linkedin, metric, naics, name, phoneNumber, productAndServices, retailSize, revenue, socialMedia, socialMediaLink, technologies, technology, type, url, location. Any other name is rejected. Most names take {"any"|"all": {"include": [...], "exclude": [...]}}, for example {"type": {"any": {"include": ["PUBLIC_COMPANY"]}}}. The any/all object goes INSIDE the filter name, never at the top of account. Size and money filters (employeeSize, foundedYear, revenue, retailSize) instead take {"type": "RANGE", "range": {"start": 50, "end": 200}} or {"type": "ALL"|"NONE"}; geoLocation takes {"position": {"lat": 0, "lng": 0}, "radius": 50, "unit": "km"|"mi"}; keyword takes {"any"|"all": {"include"|"exclude": {"content": ["..."], "sources": [{"mode": "WORD"|"SMART"|"STRICT", "source": "NAME"|"KEYWORD"|"SEO"|"DESCRIPTION"|"INDUSTRY"}]}}}.'
                  type: object
                contact:
                  additionalProperties: true
                  description: 'Person-level filters, keyed by filter name. Accepted names: certification, certifications, company, contactLanguage, contactLocation, currentCompany, department, departmentAndFunction, education, experience, fullName, function, keyword, language, linkedin, location, name, pastCompany, profileBadge, seniority, skill, skills, socialMedia, socialMediaFollower, socialMediaLink, socialProfile, title. Any other name is rejected. Names take {"any"|"all": {"include": [...], "exclude": [...]}}, with the any/all object INSIDE the filter name rather than at the top of contact. Free-text search goes through keyword, which takes {"any"|"all": {"include"|"exclude": {"content": ["..."], "sources": [{"mode": "WORD"|"SMART"|"STRICT", "source": "HEADLINE"|"SUMMARY"|"ORGANIZATION"|"SKILL"|"WORK_HISTORY_DESCRIPTION"|"EDUCATION_DESCRIPTION"|"CERTIFICATION"|"PUBLICATION"|"PATENT"|"AWARD"|"COURSE"|"PROJECTS"|"VOLUNTEERING"|"LANGUAGE_SKILL"|"TEST_SCORE"}]}}}, for example {"keyword": {"any": {"include": {"content": ["engineer"], "sources": [{"mode": "SMART", "source": "HEADLINE"}]}}}}.'
                  type: object
                lists:
                  additionalProperties: true
                  description: AI Ark saved-list filter expression.
                  type: object
                page:
                  default: 0
                  description: Zero-based result page.
                  minimum: 0
                  type: integer
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
                size:
                  default: 10
                  description: Maximum people to return on this page.
                  maximum: 100
                  minimum: 1
                  type: integer
              title: People Search - AI Ark input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          description: Normalized people and page metadata, or null when no people matched.
                          oneOf:
                          - type: 'null'
                          - additionalProperties: false
                            properties:
                              page:
                                description: Zero-based page number returned by the source.
                                minimum: 0
                                type: integer
                              people:
                                description: People returned on this page.
                                items:
                                  properties:
                                    birthDate:
                                      description: Birthday as published on the profile, in YYYY-MM-DD form. LinkedIn lets a member hide the year, and the source encodes that as the placeholder year 1600 - treat the year as unknown when it reads 1600 rather than as a real date.
                                      type: string
                                    careerStartUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                      type: integer
                                    city:
                                      description: Location city.
                                      type: string
                                    companyAcquisitionCount:
                                      description: Number of acquisitions the source records for the current company.
                                      minimum: 0
                                      type: integer
                                    companyAcquisitions:
                                      description: Acquisitions the source records for the current company, with the role telling you which side the company was on.
                                      items:
                                        properties:
                                          announcedUtc:
                                            description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                            type: integer
                                          imageKey:
                                            description: The source's internal image key for the counterparty. It is a bare key, not a URL.
                                            type: string
                                          name:
                                            description: Counterparty organization name.
                                            type: string
                                          recordId:
                                            description: The source's own slug for the counterparty organization.
                                            type: string
                                          role:
                                            description: The current company's side of the deal, for example acquiree.
                                            type: string
                                        type: object
                                      type: array
                                    companyAddress:
                                      description: Current company headquarters address as published by the source.
                                      type: string
                                    companyCity:
                                      description: Current company headquarters city.
                                      type: string
                                    companyContinent:
                                      description: Current company headquarters continent.
                                      type: string
                                    companyCountry:
                                      description: Current company headquarters country.
                                      type: string
                                    companyCrunchbaseUrl:
                                      description: Current company's Crunchbase URL.
                                      format: uri
                                      type: string
                                    companyDescription:
                                      description: Current company description.
                                      type: string
                                    companyDomain:
                                      description: Current company domain.
                                      type: string
                                    companyDomainLtd:
                                      description: The source's second copy of the current company's domain. Usually identical to companyDomain; it can differ when the source resolves a redirect or a country domain differently, so compare the two rather than assuming they match.
                                      type: string
                                    companyEmployeeCount:
                                      description: Estimated employees at the current company.
                                      minimum: 0
                                      type: integer
                                    companyEmployeeRangeMin:
                                      description: Lower bound of the current company's published employee range.
                                      minimum: 0
                                      type: integer
                                    companyFacebookUrl:
                                      description: Current company's canonical Facebook URL.
                                      format: uri
                                      type: string
                                    companyFoundedYear:
                                      description: Year the current company was founded.
                                      type: integer
                                    companyId:
                                      description: The source's own record identifier for the current company, exposed so you can trace a result back to the record it came from.
                                      type: string
                                    companyImage:
                                      description: 'Current company logo URL. This is a SIGNED, EXPIRING image-proxy URL - the path carries an exp: epoch roughly five days out - so fetch and store the image promptly rather than storing this URL.'
                                      format: uri
                                      type: string
                                    companyIndustries:
                                      description: Additional industries for the current company.
                                      items:
                                        type: string
                                      type: array
                                    companyIndustry:
                                      description: Current company's primary industry.
                                      type: string
                                    companyKeywords:
                                      description: Keywords describing the current company.
                                      items:
                                        type: string
                                      type: array
                                    companyLanguages:
                                      description: Languages the current company publishes in.
                                      items:
                                        type: string
                                      type: array
                                    companyLatitude:
                                      description: Current company headquarters latitude in decimal degrees.
                                      type: number
                                    companyLegalName:
                                      description: Current company's registered legal name.
                                      type: string
                                    companyLinkedinUrl:
                                      description: Current company's canonical LinkedIn URL.
                                      format: uri
                                      type: string
                                    companyLocations:
                                      description: Every office the source lists for the current company, including the headquarters already reported in the companyCountry/companyCity fields.
                                      items:
                                        properties:
                                          address:
                                            description: Office address as published by the source.
                                            type: string
                                          city:
                                            description: Office city.
                                            type: string
                                          continent:
                                            description: Office continent.
                                            type: string
                                          country:
                                            description: Office country.
                                            type: string
                                          latitude:
                                            description: Office latitude in decimal degrees.
                                            type: number
                                          longitude:
                                            description: Office longitude in decimal degrees.
                                            type: number
                                          postalCode:
                                            description: Office postal code.
                                            type: string
                                          state:
                                            description: Office state or region.
                                            type: string
                                          street:
                                            description: Office street or neighbourhood line.
                                            type: string
                                        type: object
                                      type: array
                                    companyLongitude:
                                      description: Current company headquarters longitude in decimal degrees.
                                      type: number
                                    companyNaics:
                                      description: NAICS codes for the current company.
                                      items:
                                        type: string
                                      type: array
                                    companyName:
                                      description: Current company name.
                                      type: string
                                    companyOverview:
                                      description: Longer overview of the current company. Overlaps companyDescription but is a separately maintained blurb and is often longer or more current.
                                      type: string
                                    companyPostalCode:
                                      description: Current company headquarters postal code.
                                      type: string
                                    companyRevenueMax:
                                      description: Upper bound of the current company's estimated annual revenue in USD.
                                      minimum: 0
                                      type: integer
                                    companyRevenueMin:
                                      description: Lower bound of the current company's estimated annual revenue in USD.
                                      minimum: 0
                                      type: integer
                                    companyRevenueRange:
                                      description: The same annual revenue estimate as a single hyphenated range string, for example 500000000-1000000000. It duplicates companyRevenueMin and companyRevenueMax; use those for arithmetic.
                                      type: string
                                    companySeoDescription:
                                      description: The meta description the source scraped from the current company's website. It is site copy, not the source's own writing, so it may be in another language or out of date.
                                      type: string
                                    companyStartUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                      type: integer
                                    companyState:
                                      description: Current company headquarters state or region.
                                      type: string
                                    companyStreet:
                                      description: Current company headquarters street or neighbourhood line.
                                      type: string
                                    companySubOrganizations:
                                      description: The source's own record identifiers for the current company's sub-organizations, exposed so you can look each one up in the company endpoints.
                                      items:
                                        type: string
                                      type: array
                                    companyTechnologies:
                                      description: Technologies detected on the current company's web presence.
                                      items:
                                        properties:
                                          category:
                                            description: Technology category.
                                            type: string
                                          name:
                                            description: Technology name.
                                            type: string
                                        type: object
                                      type: array
                                    companyTwitterUrl:
                                      description: Current company's canonical X (Twitter) URL.
                                      format: uri
                                      type: string
                                    companyType:
                                      description: Current company's organization type.
                                      type: string
                                    companyUpdatedUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                      type: integer
                                    companyWebsiteUrl:
                                      description: Current company website URL.
                                      format: uri
                                      type: string
                                    connectionCount:
                                      description: LinkedIn connection count.
                                      minimum: 0
                                      type: integer
                                    country:
                                      description: Location country.
                                      type: string
                                    creator:
                                      description: Whether the profile is in LinkedIn creator mode.
                                      type: boolean
                                    departments:
                                      description: Departments the current role belongs to.
                                      items:
                                        type: string
                                      type: array
                                    educations:
                                      description: Education history listed on the profile.
                                      items:
                                        properties:
                                          degreeName:
                                            description: Degree earned.
                                            type: string
                                          endUtc:
                                            description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                            type: integer
                                          fieldOfStudy:
                                            description: Field of study.
                                            type: string
                                          grade:
                                            description: Grade as published on the profile.
                                            type: string
                                          schoolId:
                                            description: 'The source''s own record identifier for the school. Untyped passthrough: the source returns null on the profiles observed so far, so its populated shape is not yet proven and this field carries whatever the source sends without reshaping it.'
                                          schoolImage:
                                            description: 'The school logo as the source returns it. Untyped passthrough: the source returns null on the profiles observed so far, so its populated shape is not yet proven and this field carries whatever the source sends without reshaping it.'
                                          schoolName:
                                            description: School name.
                                            type: string
                                          schoolUrl:
                                            description: Canonical school page URL.
                                            format: uri
                                            type: string
                                          startUtc:
                                            description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                            type: integer
                                        type: object
                                      type: array
                                    experience:
                                      description: Work history grouped by company, most recent first.
                                      items:
                                        properties:
                                          companyEmployeeRangeMax:
                                            description: Upper bound of this company's published employee range.
                                            minimum: 0
                                            type: integer
                                          companyEmployeeRangeMin:
                                            description: Lower bound of this company's published employee range.
                                            minimum: 0
                                            type: integer
                                          companyId:
                                            description: The source's own record identifier for this company, exposed so you can trace a result back to the record it came from.
                                            type: string
                                          companyImage:
                                            description: 'Company logo URL. This is a SIGNED, EXPIRING image-proxy URL - the path carries an exp: epoch roughly five days out - so fetch and store the image promptly rather than storing this URL.'
                                            format: uri
                                            type: string
                                          companyLinkedinUrl:
                                            description: Canonical LinkedIn URL for this company.
                                            format: uri
                                            type: string
                                          companyName:
                                            description: Company name for this block of work history.
                                            type: string
                                          endUtc:
                                            description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                            type: integer
                                          positions:
                                            description: Individual roles held at this company.
                                            items:
                                              properties:
                                                companyName:
                                                  description: Company name as published on the role.
                                                  type: string
                                                description:
                                                  description: Role description.
                                                  type: string
                                                employmentType:
                                                  description: Employment type, for example Full-time.
                                                  type: string
                                                endUtc:
                                                  description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                                  type: integer
                                                location:
                                                  description: Role location.
                                                  type: string
                                                startUtc:
                                                  description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                                  type: integer
                                                title:
                                                  description: Role title.
                                                  type: string
                                              type: object
                                            type: array
                                          startUtc:
                                            description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                            type: integer
                                        type: object
                                      type: array
                                    facebookUrl:
                                      description: Canonical Facebook profile URL.
                                      format: uri
                                      type: string
                                    firstName:
                                      description: Person's first name.
                                      type: string
                                    followable:
                                      description: 'Whether the profile can be followed without connecting. Untyped passthrough: the source returns null for most profiles, so its populated shape is not yet proven and this field carries whatever the source sends without reshaping it.'
                                    followerCount:
                                      description: LinkedIn follower count.
                                      minimum: 0
                                      type: integer
                                    fullName:
                                      description: Person's full name.
                                      minLength: 1
                                      type: string
                                    functions:
                                      description: Job functions the current role covers.
                                      items:
                                        type: string
                                      type: array
                                    githubUrl:
                                      description: Canonical GitHub profile URL.
                                      format: uri
                                      type: string
                                    headline:
                                      description: Professional profile headline.
                                      type: string
                                    hiring:
                                      description: Whether the profile is flagged as hiring.
                                      type: boolean
                                    image:
                                      description: 'Profile photo URL. This is a SIGNED, EXPIRING image-proxy URL - the path carries an exp: epoch roughly five days out - so fetch and store the image promptly rather than storing this URL.'
                                      format: uri
                                      type: string
                                    industry:
                                      description: Industry the person works in.
                                      type: string
                                    influencer:
                                      description: Whether the profile carries a LinkedIn influencer badge.
                                      type: boolean
                                    lastName:
                                      description: Person's last name.
                                      type: string
                                    linkedinHandle:
                                      description: LinkedIn public profile handle, the trailing segment of the profile URL.
                                      type: string
                                    linkedinUrl:
                                      description: Canonical LinkedIn profile URL.
                                      format: uri
                                      type: string
                                    location:
                                      description: Formatted location.
                                      type: string
                                    locationPosition:
                                      description: 'Coordinates for the person''s location as the source returns them. Untyped passthrough: the source returns null for most profiles, so its populated shape is not yet proven and this field carries whatever the source sends without reshaping it.'
                                    locationShort:
                                      description: Shorter form of the same location, usually city and state without country or continent. It duplicates part of location.
                                      type: string
                                    middleName:
                                      description: Person's middle name.
                                      type: string
                                    networkInfluencer:
                                      description: The same influencer flag as the badge above, carried on the source's network statistics instead of its badge block. Expected to agree with influencer; compare them if the distinction matters to you.
                                      type: boolean
                                    openToWork:
                                      description: Whether the profile is flagged open to work.
                                      type: boolean
                                    premium:
                                      description: Whether the profile carries a LinkedIn premium badge.
                                      type: boolean
                                    previousJobTitles:
                                      description: 'Job titles the person held before the current one, as the source returns them. Untyped passthrough: the source returns null for most profiles, so its populated shape is not yet proven and this field carries whatever the source sends without reshaping it. The experience array carries the same history in a typed form.'
                                    primaryLanguage:
                                      description: Primary profile language code.
                                      type: string
                                    primaryLanguageCountry:
                                      description: Country code paired with the primary profile language, for example US.
                                      type: string
                                    profileBackground:
                                      description: 'The profile background or cover image as the source returns it. Untyped passthrough: the source returns null for most profiles, so its populated shape is not yet proven and this field carries whatever the source sends without reshaping it.'
                                    profileId:
                                      description: The source's own record identifier for this person, exposed so you can trace a result back to the record it came from.
                                      type: string
                                    profileLanguages:
                                      description: 'Languages the person lists on the profile, as the source returns them. Untyped passthrough: the source returns null for most profiles, so its populated shape is not yet proven and this field carries whatever the source sends without reshaping it.'
                                    seniority:
                                      description: Seniority level inferred for the current role.
                                      type: string
                                    skills:
                                      description: Skills listed on the profile.
                                      items:
                                        type: string
                                      type: array
                                    state:
                                      description: Location state or region.
                                      type: string
                                    subDepartments:
                                      description: Sub-departments the current role belongs to.
                                      items:
                                        type: string
                                      type: array
                                    summary:
                                      description: Profile summary or about section.
                                      type: string
                                    supportedLocales:
                                      description: Every locale the profile is available in. The first entry usually repeats primaryLanguage and primaryLanguageCountry.
                                      items:
                                        properties:
                                          country:
                                            description: Country code for this locale.
                                            type: string
                                          language:
                                            description: Language code for this locale.
                                            type: string
                                        type: object
                                      type: array
                                    title:
                                      description: Current job title.
                                      type: string
                                    titleStartUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                      type: integer
                                    twitterUrl:
                                      description: Canonical X (Twitter) profile URL.
                                      format: uri
                                      type: string
                                    updatedUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds.
                                      type: integer
                                    verified:
                                      description: Whether LinkedIn has verified the profile.
                                      type: boolean
                                  required:
                                  - fullName
                                  - linkedinUrl
                                  type: object
                                type: array
                              size:
                                description: Configured page size.
                                minimum: 0
                                type: integer
                              total:
                                description: Total matching people.
                                minimum: 0
                                type: integer
                              totalPages:
                                description: Total result pages.
                                minimum: 0
                                type: integer
                            required:
                            - people
                            - page
                            - size
                            - total
                            - totalPages
                            type: object
                        found:
                          description: Whether the search returned at least one person.
                          type: boolean
                      required:
                      - found
                      - data
                      title: People Search - AI Ark output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was well formed but this API cannot serve the requested target site; the body's `alternatives` array lists the AnyAPI APIs that can.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The upstream was rate limited; inspect `payment` when present before deciding whether to retry.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An internal error prevented completion. Inspect payment when present before retrying.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Every provider failed with a server/transport error, or inline payment settlement could not be confirmed; inspect `payment` when present before retrying.
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      - {}
      summary: People Search - AI Ark
      tags:
      - People Search
      x-mint:
        href: /api-reference/people-search/ai-ark
      x-payment-info:
        price:
          currency: USD
          max: '0.840000'
          min: '0.000000'
          mode: dynamic
        protocols:
        - x402:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
        - mpp:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
        rails:
        - headers:
            challenge:
            - PAYMENT-REQUIRED
            credential:
            - PAYMENT-SIGNATURE
            - X-PAYMENT
            receipt:
            - PAYMENT-RESPONSE
            - X-PAYMENT-RESPONSE
          pricing:
            currency: USD
            max: '0.840000'
            min: '0.001000'
            minimumUsd: '0.001000'
            mode: dynamic
            quoteBasis: floor
          protocol:
            asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
            network: eip155:8453
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            scheme: exact
          rail: x402
          settlement:
            onExecutionFailure: released
            onUnknownFinalization: indeterminate
            timing: after_execution
        - headers:
            challenge:
            - WWW-Authenticate
            credential:
            - Authorization
            receipt:
            - Payment-Receipt
          pricing:
            currency: USD
            max: '0.840000'
            min: '0.000000'
            minimumUsd: null
            mode: dynamic
            quoteBasis: funded_ceiling
          protocol:
            asset: '0x20c000000000000000000000b9537d11c60e8b50'
            currency: USD
            intent: charge
            method: tempo
            network: tempo
            payTo: '0x754BD2A6799e766B1E2b9f1Ae7fBdC0CeD96ef13'
            rail: tempo
            scheme: exact
          rail: mpp
          settlement:
            onExecutionFailure: charged_undelivered
            onVerificationError: indeterminate
            timing: before_execution
  /v1/run/people_search.crustdata_v3:
    post:
      description: 'Find up to 100 professional profiles by company domain and title keywords.


        **Price:** \$144.00 per 1,000 requests (flat per request - same cost regardless of results returned).


        **Routing:** one lane serves this API today, so a failed attempt has nowhere to fail over to. Payment outcome follows the selected rail''s settlement policy.


        **Catalog:** People Search - Crustdata v3 pricing and uptime - live USD price, lane routing, and measured 30-day uptime. Every People_search endpoint.'
      operationId: people_search_crustdata_v3
      parameters:
      - description: Optional. Comma-separated keys (dotted paths like `author.name` descend into nested objects) to keep on each result item. Keys are matched relative to each result item after the `data`/`items` envelope is unwrapped, not against the top-level response envelope, so use `jq` to reshape the whole envelope. Shrinks the response without changing cost.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: Optional. Cap the number of result rows returned; a `_truncated` note reports how many were withheld so you can page via the API's own `limit`. Does not change cost.
        in: query
        name: max_items
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Optional. Return only a structural outline (top-level keys, item counts, and per-field byte sizes) instead of the full data. Does not change cost.
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      - description: 'Optional. A jq expression applied to the result envelope; its output replaces `output` (multiple outputs collect into an array). Reshape freely, e.g. `jq=.data | {title, description, md: .markdown[:3500]}`. Runs sandboxed with a 250ms / 2MB budget; on failure the full result is returned with a `jqError`. Does not change cost.'
        in: query
        name: jq
        required: false
        schema:
          type: string
      - description: Optional. The most you are willing to pay for this one request, in US dollars (for example 0.05). Any route that would charge more than this is not used, so a request only ever runs on something you can afford. If nothing is available at or below your amount, the request is refused before it runs, nothing is charged, and the message tells you the cheapest price per request so you can raise it. Leave it out to accept the normal price.
        in: query
        name: max_cost_usd
        required: false
        schema:
          type: string
      - description: Optional wallet idempotency key, scoped to this customer for 24 hours. When the gateway honors the key, this synchronous in-process execution can continue after the caller disconnects, bounded by its execution deadline. A completed replayable result charges normally exactly once and can be replayed without another provider run or charge. A pending duplicate returns 409 idempotency_in_progress; reuse with different request semantics returns 409 idempotency_conflict.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            example:
              companyDomain: posthog.com
              limit: 1
              titleKeywords: engineer
            schema:
              additionalProperties: false
              example:
                companyDomain: posthog.com
                limit: 1
                titleKeywords: engineer
              properties:
                companyDomain:
                  description: Company domain without a path.
                  minLength: 1
                  type: string
                country:
                  minLength: 1
                  type: string
                fuzzyTitle:
                  default: true
                  type: boolean
                limit:
                  default: 3
                  maximum: 100
                  minimum: 1
                  type: integer
                preferLatencyUnderMs:
                  description: 'Optional; omit it and routing is unchanged, with the cheapest source serving. Prefer sources whose typical response time (median over the trailing 30 days, as published on this endpoint''s lane health) is under this many milliseconds; among those, the cheapest serves. This can raise your price: when the cheapest source misses the target, a faster and dearer one serves, and you are quoted and charged its price. If no source is that fast the request is still served, by whichever source offers the best speed for its price - it is never refused for being slow. Sources we have not timed are tried last. This is a preference, not a guarantee: the median describes past requests and is not a ceiling on this one, and it excludes any wait this request itself asks for. On a paginated walk it applies to the first page only: later pages stay with the source that page chose, at the price it was quoted.'
                  minimum: 1
                  type: integer
                profileKeywords:
                  oneOf:
                  - minLength: 1
                    type: string
                  - items:
                      minLength: 1
                      type: string
                    minItems: 1
                    type: array
                requireVerifiedEmail:
                  default: false
                  type: boolean
                seniority:
                  oneOf:
                  - minLength: 1
                    type: string
                  - items:
                      minLength: 1
                      type: string
                    minItems: 1
                    type: array
                titleKeywords:
                  oneOf:
                  - minLength: 1
                    type: string
                  - items:
                      minLength: 1
                      type: string
                    minItems: 1
                    type: array
              required:
              - companyDomain
              - titleKeywords
              title: People Search - Crustdata v3 input
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  costUsd:
                    description: USD charged on the original run. On a replay this value is echoed for parity; the replay itself is free.
                    type: number
                  hint:
                    description: 'Optional one-line nudge, absent when there is nothing to say. `large_result:` suggests the fields/max_items/summary/jq controls for a big response. `paging_unavailable:` means this result came from a source that cannot return a `nextCursor`, so it may be INCOMPLETE and cannot be continued - re-run with `requireCursor: true` to be served only by a source that can page, which may cost more per request.'
                    type: string
                  items:
                    description: Number of result rows returned. For per-result SKUs the per-item cost is charged against this count; for input-priced SKUs the charge is per submitted input, independent of this count.
                    type: integer
                  jqError:
                    description: Present only when a `jq` expression failed; `output` then carries the full unshaped result and this explains why the reshape did not apply.
                    type: string
                  output:
                    anyOf:
                    - additionalProperties: false
                      properties:
                        data:
                          oneOf:
                          - type: 'null'
                          - additionalProperties: false
                            properties:
                              hasMore:
                                description: True when more profiles exist beyond this page.
                                type: boolean
                              profiles:
                                description: Matching professional profiles.
                                items:
                                  properties:
                                    allEmployers:
                                      description: Every employer on the profile, current and past. Duplicates the contents of currentEmployers and pastEmployers in one combined list.
                                      items:
                                        properties:
                                          businessEmailVerified:
                                            description: True when a business email at this employer has been verified.
                                            type: boolean
                                          companyDomain:
                                            description: Employer website domain.
                                            type: string
                                          companyHeadcount:
                                            description: Latest observed employee count at the employer.
                                            type: integer
                                          companyHeadcountRange:
                                            description: Employer headcount band, e.g. 51-200.
                                            type: string
                                          companyHeadquartersCountry:
                                            description: Country of the employer's headquarters.
                                            type: string
                                          companyHqLocation:
                                            description: Full headquarters location of the employer.
                                            type: string
                                          companyHqLocationAddressComponents:
                                            description: The employer's headquarters location split into address components (city, county, state, country). Restates companyHqLocation in parts.
                                            items:
                                              type: string
                                            type: array
                                          companyId:
                                            description: Crustdata company identifier for this employer, accepted by the Company Enrichment endpoint.
                                            type: string
                                          companyIndustries:
                                            description: All LinkedIn industries listed for the employer.
                                            items:
                                              type: string
                                            type: array
                                          companyIndustry:
                                            description: Primary LinkedIn industry of the employer.
                                            type: string
                                          companyLinkedinId:
                                            description: LinkedIn's own numeric identifier for the employer company page.
                                            type: string
                                          companyLinkedinUrl:
                                            description: Employer LinkedIn company page URL.
                                            format: uri
                                            type: string
                                          companyName:
                                            description: Employer name.
                                            type: string
                                          companyType:
                                            description: Employer company type, e.g. Privately Held or Public Company.
                                            type: string
                                          companyWebsite:
                                            description: Employer website URL.
                                            format: uri
                                            type: string
                                          description:
                                            description: Role description as written on the profile.
                                            type: string
                                          employmentType:
                                            description: Employment type, e.g. Full-time or Contract.
                                            type: string
                                          endUtc:
                                            description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. End of the role.
                                            type: integer
                                          functionCategory:
                                            description: Job function category, e.g. Engineering or Sales.
                                            type: string
                                          linkedinId:
                                            description: LinkedIn's own numeric identifier for the employer page. Crustdata returns the same value as companyLinkedinId on this record.
                                            type: string
                                          location:
                                            description: Location of the role.
                                            type: string
                                          positionId:
                                            description: Crustdata identifier for this specific position record.
                                            type: string
                                          primaryEmployer:
                                            description: True when this is the profile's primary listed position.
                                            type: boolean
                                          seniority:
                                            description: Seniority level of the role, e.g. Entry Level or Owner / Partner.
                                            type: string
                                          startUtc:
                                            description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. Start of the role.
                                            type: integer
                                          title:
                                            description: Job title held at this employer.
                                            type: string
                                          updatedUtc:
                                            description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. Last time this employment record was refreshed.
                                            type: integer
                                          yearsAtCompany:
                                            description: Whole years spent at this employer.
                                            type: integer
                                          yearsAtCompanyRange:
                                            description: Human-readable tenure band, e.g. 3 to 5 years.
                                            type: string
                                        type: object
                                      type: array
                                    certifications:
                                      description: Certifications listed on the profile.
                                      items:
                                        properties:
                                          certificationId:
                                            description: Crustdata identifier for this certification record.
                                            type: string
                                          expiresUtc:
                                            description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. When the certification expires.
                                            type: integer
                                          issuedUtc:
                                            description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. When the certification was issued.
                                            type: integer
                                          issuer:
                                            description: Organization that issued the certification.
                                            type: string
                                          issuerLinkedinId:
                                            description: LinkedIn's own numeric identifier for the issuing organization page.
                                            type: string
                                          name:
                                            description: Certification name.
                                            type: string
                                          url:
                                            description: Link to the certification.
                                            format: uri
                                            type: string
                                        type: object
                                      type: array
                                    city:
                                      description: City of residence.
                                      type: string
                                    connectionCount:
                                      description: Number of LinkedIn connections.
                                      type: integer
                                    contactUpdatedUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. Last time the contact section was refreshed.
                                      type: integer
                                    continent:
                                      description: Continent of residence.
                                      type: string
                                    country:
                                      description: Country of residence.
                                      type: string
                                    currentEmployers:
                                      description: Positions the person currently holds.
                                      items:
                                        properties:
                                          businessEmailVerified:
                                            description: True when a business email at this employer has been verified.
                                            type: boolean
                                          companyDomain:
                                            description: Employer website domain.
                                            type: string
                                          companyHeadcount:
                                            description: Latest observed employee count at the employer.
                                            type: integer
                                          companyHeadcountRange:
                                            description: Employer headcount band, e.g. 51-200.
                                            type: string
                                          companyHeadquartersCountry:
                                            description: Country of the employer's headquarters.
                                            type: string
                                          companyHqLocation:
                                            description: Full headquarters location of the employer.
                                            type: string
                                          companyHqLocationAddressComponents:
                                            description: The employer's headquarters location split into address components (city, county, state, country). Restates companyHqLocation in parts.
                                            items:
                                              type: string
                                            type: array
                                          companyId:
                                            description: Crustdata company identifier for this employer, accepted by the Company Enrichment endpoint.
                                            type: string
                                          companyIndustries:
                                            description: All LinkedIn industries listed for the employer.
                                            items:
                                              type: string
                                            type: array
                                          companyIndustry:
                                            description: Primary LinkedIn industry of the employer.
                                            type: string
                                          companyLinkedinId:
                                            description: LinkedIn's own numeric identifier for the employer company page.
                                            type: string
                                          companyLinkedinUrl:
                                            description: Employer LinkedIn company page URL.
                                            format: uri
                                            type: string
                                          companyName:
                                            description: Employer name.
                                            type: string
                                          companyType:
                                            description: Employer company type, e.g. Privately Held or Public Company.
                                            type: string
                                          companyWebsite:
                                            description: Employer website URL.
                                            format: uri
                                            type: string
                                          description:
                                            description: Role description as written on the profile.
                                            type: string
                                          employmentType:
                                            description: Employment type, e.g. Full-time or Contract.
                                            type: string
                                          functionCategory:
                                            description: Job function category, e.g. Engineering or Sales.
                                            type: string
                                          linkedinId:
                                            description: LinkedIn's own numeric identifier for the employer page. Crustdata returns the same value as companyLinkedinId on this record.
                                            type: string
                                          location:
                                            description: Location of the role.
                                            type: string
                                          positionId:
                                            description: Crustdata identifier for this specific position record.
                                            type: string
                                          primaryEmployer:
                                            description: True when this is the profile's primary listed position.
                                            type: boolean
                                          seniority:
                                            description: Seniority level of the role, e.g. Entry Level or Owner / Partner.
                                            type: string
                                          startUtc:
                                            description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. Start of the role.
                                            type: integer
                                          title:
                                            description: Job title held at this employer.
                                            type: string
                                          updatedUtc:
                                            description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. Last time this employment record was refreshed.
                                            type: integer
                                          yearsAtCompany:
                                            description: Whole years spent at this employer.
                                            type: integer
                                          yearsAtCompanyRange:
                                            description: Human-readable tenure band, e.g. 3 to 5 years.
                                            type: string
                                        type: object
                                      type: array
                                    educationBackground:
                                      description: 'Education history exactly as Crustdata returns it. Untyped passthrough: the structure ships verbatim and is not validated, because it was empty for every profile we captured.'
                                    educationUpdatedUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. Last time the education section was refreshed.
                                      type: integer
                                    emails:
                                      description: Email addresses found for the person.
                                      items:
                                        type: string
                                      type: array
                                    employerUpdatedUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. Last time the employment section was refreshed.
                                      type: integer
                                    flagshipProfileUrl:
                                      description: LinkedIn flagship profile URL. Usually the same value as linkedinUrl; Crustdata returns both and they can differ when the profile has a vanity URL.
                                      format: uri
                                      type: string
                                    followerCount:
                                      description: Number of LinkedIn followers.
                                      type: integer
                                    headline:
                                      description: LinkedIn headline.
                                      type: string
                                    honors:
                                      description: 'Honors and awards exactly as Crustdata returns them. Untyped passthrough: the structure ships verbatim and is not validated, because it was empty for every profile we captured.'
                                    image:
                                      description: Profile picture URL.
                                      format: uri
                                      type: string
                                    indexedUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. When Crustdata last indexed the record for search, which is usually just after recordUpdatedUtc.
                                      type: integer
                                    languages:
                                      description: Languages listed on the profile.
                                      items:
                                        type: string
                                      type: array
                                    lastName:
                                      description: Family name of the person.
                                      type: string
                                    linkedinUrl:
                                      description: LinkedIn profile URL.
                                      format: uri
                                      type: string
                                    name:
                                      description: Full name of the person.
                                      type: string
                                    openToCards:
                                      description: 'LinkedIn open-to cards (open to work, hiring, providing services) exactly as Crustdata returns them. Untyped passthrough: the structure ships verbatim and is not validated, because it was empty for every profile we captured.'
                                    pastEmployers:
                                      description: Positions the person previously held.
                                      items:
                                        properties:
                                          businessEmailVerified:
                                            description: True when a business email at this employer has been verified.
                                            type: boolean
                                          companyDomain:
                                            description: Employer website domain.
                                            type: string
                                          companyHeadcount:
                                            description: Latest observed employee count at the employer.
                                            type: integer
                                          companyHeadcountRange:
                                            description: Employer headcount band, e.g. 51-200.
                                            type: string
                                          companyHeadquartersCountry:
                                            description: Country of the employer's headquarters.
                                            type: string
                                          companyHqLocation:
                                            description: Full headquarters location of the employer.
                                            type: string
                                          companyHqLocationAddressComponents:
                                            description: The employer's headquarters location split into address components (city, county, state, country). Restates companyHqLocation in parts.
                                            items:
                                              type: string
                                            type: array
                                          companyId:
                                            description: Crustdata company identifier for this employer, accepted by the Company Enrichment endpoint.
                                            type: string
                                          companyIndustries:
                                            description: All LinkedIn industries listed for the employer.
                                            items:
                                              type: string
                                            type: array
                                          companyIndustry:
                                            description: Primary LinkedIn industry of the employer.
                                            type: string
                                          companyLinkedinId:
                                            description: LinkedIn's own numeric identifier for the employer company page.
                                            type: string
                                          companyLinkedinUrl:
                                            description: Employer LinkedIn company page URL.
                                            format: uri
                                            type: string
                                          companyName:
                                            description: Employer name.
                                            type: string
                                          companyType:
                                            description: Employer company type, e.g. Privately Held or Public Company.
                                            type: string
                                          companyWebsite:
                                            description: Employer website URL.
                                            format: uri
                                            type: string
                                          description:
                                            description: Role description as written on the profile.
                                            type: string
                                          employmentType:
                                            description: Employment type, e.g. Full-time or Contract.
                                            type: string
                                          endUtc:
                                            description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. End of the role.
                                            type: integer
                                          functionCategory:
                                            description: Job function category, e.g. Engineering or Sales.
                                            type: string
                                          linkedinId:
                                            description: LinkedIn's own numeric identifier for the employer page. Crustdata returns the same value as companyLinkedinId on this record.
                                            type: string
                                          location:
                                            description: Location of the role.
                                            type: string
                                          positionId:
                                            description: Crustdata identifier for this specific position record.
                                            type: string
                                          primaryEmployer:
                                            description: True when this is the profile's primary listed position.
                                            type: boolean
                                          seniority:
                                            description: Seniority level of the role, e.g. Entry Level or Owner / Partner.
                                            type: string
                                          startUtc:
                                            description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. Start of the role.
                                            type: integer
                                          title:
                                            description: Job title held at this employer.
                                            type: string
                                          updatedUtc:
                                            description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. Last time this employment record was refreshed.
                                            type: integer
                                          yearsAtCompany:
                                            description: Whole years spent at this employer.
                                            type: integer
                                          yearsAtCompanyRange:
                                            description: Human-readable tenure band, e.g. 3 to 5 years.
                                            type: string
                                        type: object
                                      type: array
                                    personId:
                                      description: Crustdata identifier for this person.
                                      type: string
                                    profileLanguage:
                                      description: Language the profile itself is written in.
                                      type: string
                                    profilePictureUrl:
                                      description: Profile photo URL as LinkedIn serves it, query string intact because LinkedIn signs these URLs. The image field carries Crustdata's cached copy of the same photo, which does not expire.
                                      format: uri
                                      type: string
                                    profileUpdatedUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. Last time the profile section was refreshed.
                                      type: integer
                                    recentlyChangedJobs:
                                      description: True when the person changed employer recently.
                                      type: boolean
                                    recordUpdatedUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. When Crustdata last wrote the record. Differs from updatedUtc, which reports the profile's own last-updated stamp.
                                      type: integer
                                    region:
                                      description: Region string as published on the profile.
                                      type: string
                                    regionAddressComponents:
                                      description: The region string split into address components (city, county, state, country). Restates region in parts.
                                      items:
                                        type: string
                                      type: array
                                    skills:
                                      description: Skills listed on the profile.
                                      items:
                                        type: string
                                      type: array
                                    state:
                                      description: State or province of residence.
                                      type: string
                                    summary:
                                      description: Profile summary or About section text.
                                      type: string
                                    twitterHandle:
                                      description: X (Twitter) handle listed on the profile.
                                      type: string
                                    updatedUtc:
                                      description: UTC epoch timestamp in seconds (Unix time). Multiply by 1000 for a JS Date in milliseconds. Last time any part of this profile record was refreshed.
                                      type: integer
                                    yearsOfExperience:
                                      description: Total whole years of professional experience.
                                      type: integer
                                    yearsOfExperienceRange:
                                      description: Human-readable experience band, e.g. More than 10 years.
                                      type: string
                                  required:
                                  - name
                                  type: object
                                type: array
                              totalCount:
                                description: Total number of profiles matching the search.
                                minimum: 0
                                type: integer
                            required:
                            - profiles
                            type: object
                        found:
                          description: False when the search matched no professional profiles.
                          type: boolean
                      required:
                      - found
                      - data
                      title: People Search - Crustdata v3 output
                      type: object
                    - type: 'null'
                    description: Normalized output, or null when the replay payload was not retained.
                  provider:
                    description: Always "AnyAPI".
                    type: string
                  replayed:
                    description: True when this response replays the durable result of an earlier run without billing or upstream execution.
                    type: boolean
                  resultId:
                    description: Opaque handle to the full unshaped result, cached ~15 min. Re-shape it for free (fields/max_items/summary/jq) via GET /v1/results/{id}, no re-billing. Absent when the result was too large to cache.
                    type: string
                required:
                - output
                - provider
                - costUsd
                - items
                - replayed
                type: object
          description: Normalized result.
          headers:
            Idempotency-Replayed:
              description: Present only when the request carried an Idempotency-Key this gateway honored. "false" means the key was claimed and the run executed freshly; "true" means it replayed a prior identical run and was NOT charged again. Absent means either no key was sent or this gateway does not honor keys, so a retry could be charged twice.
              schema:
                enum:
                - 'false'
                - 'true'
                type: string
            PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
            Payment-Receipt:
              description: Inline mpp payment receipt.
              schema:
                type: string
            X-PAYMENT-RESPONSE:
              description: Inline x402 payment receipt.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Input did not match the schema, or the upstream rejected the request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        '402':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PaymentRequiredError'
                - $ref: '#/components/schemas/TrialCapReached'
            application/problem+json:
              schema:
                properties:
                  challengeId:
                    minLength: 1
                    type: string
                  status:
                    const: 402
                    type: integer
                required:
                - status
                - challengeId
                type: object
          description: Insufficient wallet balance or spend cap, or an inline-payment challenge. Agent trials receive a trial_cap_reached continuation with a live RFC 8628 device authorization.
          headers:
            PAYMENT-REQUIRED:
              description: Inline x402 payment challenge.
              schema:
                type: string
            WWW-Authenticate:
              description: Inline mpp payment challenge.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unknown SKU, or the upstream had no matching resource.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Idempotency collision. Codes: idempotency_in_progress means retry after the Retry-After delay; idempotency_conflict means use a new key for different request semantics; idempotency_needs_review means stop retrying and contact AnyAPI support with X-Anyapi-Request-Id.'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
[...]
